

.filterWriting {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 30px;
}

.dropDownAndButton {
    width: 48%;
    margin-left: 2%;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}


.btn-primary, .btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

