

.filterWriting {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 30px;
}

.dropDownAndButton {
    width: 48%;
    margin-left: 2%;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

#title {
    color: #ede1d1;
}


.btn-primary, .btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.changeLog {
    width: 20vw;
    z-index: 2;
    right:10px;
    padding: 1%;
    background: rgba(42,46,49,0.5);
    float: right;
}

/* Popup container */
.helpPopup {
    text-align: right;
    color: whitesmoke;
}

/* The actual popup (appears on top) */
.helpPopup .popuptext {
    visibility: hidden;
    width: 350px;
    top: 90px;
    background-color: #555;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 2%;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -175px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Popup arrow */
.helpPopup .popuptext::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.helpPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.adminCard {
    width: 100%;
    min-height: 80vh;
}

.adminCard a {
    color: #2e7d32;
    font-size: large;
}

.container, .adminCard {
    max-width: 75vw;
}

.add-button {
    height: 5vh;
    align-self: center;
}

#helpLink {
    color: white;
}