
.viewArtists {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search {
    height: 200px;
}

.viewArtists {
    height: 650px;
}

#artist-card {
    margin: 0px;
}

#artist-stats {
    width: 50%;
}

#toggle {
    border-width: 1px;
    border-style: solid;
}