

html {
    background: url("../images/loginBackground.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.startUpBox{
    position: fixed;
    bottom: 18vh;
    left: 10vw;
    height: 45vh;
    width: 33vw;
    background-color: #ede1d1;
    opacity: 0.9;
    padding-left: 1%;
}


input[type=text], input[type=password], input[type=date] {
    width: 90%;

}

.selectpicker {
    width: 90%;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.redButton {
    padding: 10px 18px;
    background-color: #ca6636;
}

/* Extra style for login button */
.loginButton {
    background-color: #7cb77b;
}

/* Add padding to containers */
.container {
    padding: 16px;
}


#passportList, #nationalityList{
    display: inline-block;
    width: 40%;
    margin-right: 8%;
}

#goButton{
    width: 10%;
    height: 10%;
    background-color: #7cb77b;
    display: inline;
}

th, td {
    font-size: small;
    padding: 0;
}

.hidden-div {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 2vw;
}

.hidden-field {
    height: 4vh;
    opacity: 0;
}