#table-card {
    height: 50vh;
    margin-top: 10px;
}

#dest-table-card {
    height: 55vh;
}

#headerRow {
    padding: 1%;
}

#map-table-card {
    height: 105vh;
}

#btn-card {
    height: 5vh;
}


#destTable {
    padding-top: 2vh;
    height: 5vh;
}

#destTable span {
    display: none;
}

div.dataTables_wrapper div.dataTables_paginate {
    float:right;
}

div.dataTables_filter {
    float:left;
}

#addDestButton {
    position: center;
    float: right;
    width: 15vw;
}

#visibilityBtn {
    float: left;
}

#legend {
    background: #fff;
    border: 0.1rem solid #000;
}

#legend h4 {
    color: black;
}

#destButton {
    margin-top: 15px;
    font-size: 20px;
}


.dest-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    width: 100%;
}

.dest-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.dest-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 5px;
    text-shadow: 1px 1px 1px #fff;
}


#destinationsMap {
    height: 100%;
    width: 100%;
    padding-top: 5vh;
}

.nav .nav-tabs, #detailsTabLink, #myPhotosTabLink, #worldPhotosTabLink {
    font-size: 18pt;
}

#destinationTabs {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#table-card li {
    padding: 5px 15px 5px 15px;
}

#destinationTabs, #photosCard, #photosCaption, #myPhotosTab {
    margin-left: auto;
    margin-right: auto;
}

#destinationTabsContent {
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

#photosCard {
    height: 500px;
}

img.thumbnail {
    display: block;
    width: auto;
    height: auto;
    max-height: 220px;
    max-width: 220px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#photosCard {
    margin-left: auto;
    margin-right: auto;
}

.card {
    height: 320px;
    width: 240px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: none;
    padding: 1.25rem;
}

#imageCard{
    margin-top:10px;
    margin-right:1px;
    margin-left:1px;
    padding-bottom: 2px;
}

#addTitle, #\#deleteBody, #\#deleteTitle {
    color: black;
}
#photosTab{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

/* The Modal (background) */
#expandImageModal.modal {
    display: none;
    position: fixed;
    /*z-index: 0;*/
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Photo) */
#expandedImage.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 900px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Caption of Modal Photo (Photo Text) */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 50px;
}

/* Add Animation - Zoom in the Modal */
#expandedImage.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}