.viewEvents {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b7bb;
}

#eventStats{
    width: 50%;
}