/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

html {
    background: url("../images/loginBackground.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.startUpBox{
    position: fixed;
    bottom: 150px;
    left: 250px;
    height: 400px;
    width: 500px;
    background-color: #ede1d1;
    opacity: 0.9;
}

#email{
    position: fixed;
    bottom: 400px;
    left: 350px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ca6636;
}

#password{
    position: fixed;
    bottom: 300px;
    left: 350px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ca6636;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 300px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.redButton {
    padding: 10px 18px;
    background-color: #ca6636;
    position: fixed;
    bottom: 200px;
    left: 325px;
}

/* Extra style for login button */
.loginButton {
    padding: 10px 18px;
    background-color: #7cb77b;
    position: fixed;
    bottom: 200px;
    left: 525px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

#errorMessage{
    color: #ca6636;
    visibility: visible;
    border-width: 0px;
}



