html {
    background: url("https://images.unsplash.com/photo-1421217336522-861978fdf33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.startUpBox{
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    height: 70vh;
    width: 25vw;
    background-color: #0C071F;
    opacity: 0.9;
    border-radius: 5%;
}

.welcome {
    color: #009779;
}

#logo-login {
    width: 20vw;
    height: 15vw;
}


.loginPassword, .loginEmail {
    width: 13vw;
}

#loginForm {
    bottom: -8vh;
    left: 5vw;
}

#loginButton, #createUserButton {
    width: 6.5vw;
}

#errorMessage{
    color: #ca6636;
    visibility: visible;
    border-width: 0px;
}

.alert{
    position: fixed;
    width: inherit;
}
#cookieText{
    padding: 1.5rem;
}


#cookieUseNotice {
    position: fixed;
    opacity: 0.9;
    border-radius: 5%;
    color: #FFFFFF;
    bottom: 1vh; !important;
    left: 60vw;
    width: 50vw;
}