html {
    background: url("../images/loginBackground.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.startUpBox{
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    height: 70vh;
    width: 25vw;
    background-color: #ede1d1;
    opacity: 0.9;
}

#logo {
    width: 15vw;
    height: 10vw;
}

#logoRow {
    padding-top: 5vh;
}

#greeting {
    padding-top: 7vh;
}


.loginPassword, .loginEmail {
    width: 13vw;
}

#loginForm {
    bottom: -8vh;
    left: 5vw;
}

#loginButton, #createUserButton {
    width: 6.5vw;
}


#errorMessage{
    color: #ca6636;
    visibility: visible;
    border-width: 0px;
}



