#table-card {
    height: 95vh;
}

#userTable {
    height: 10vh;
}

#userTable span {
    display: none;
}

input[type=text], input[type=date], input[type=search], input[type=datetime-local] {
    width: 10vw;
}

#cancelBttn{
    background-color: #ca6636;
}

#searchBttn:hover, #cancelBttn:hover {
    font-weight: bold;
}







