#viewCard {
    height: 25vh;
    width: 100%;
    overflow: visible;
}

#name {
    width: 20vw;
}


#destForm {
    padding-bottom: 10px;
}

label {
    color: #ca6636;
}

#addDest {
    width: 15vw;
}

#destsTable {
    max-height: 10vh;
    overflow: auto;
    width: 100%;
}

#tripsTable span {
    display: none;
    height: 35vh;
}

#backButtonCreate{
    margin: 5vh;
}

.saveTripButton{
    height: 5vh;
    margin-left: 5vh;
    margin-top: 1vh;
}


.tripNameInput{
    display: block;
    text-align: center;
    margin-left: 40vw;
    margin-bottom: 50px;
}

.delete-icon{
    display: inline;
}
.contract-icon{
    display: inline;
}
input[type=datetime-local] {
}

#trip-card {
    height: 50vh;
    min-width: 40vh;
    background-color: #e8f5e9;
}

.card-border {
    background-color: #2e7d32;
}

#tripsPane{
    padding-left: 18%;
}

#addTripButton {
    margin-top: 10px;
    margin-left: 1%;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

#topBarTitle {
    margin: 0 auto;
    color: #ede1d1;
}

.table-card {

    height: 42vh;
    width: 100%;
}