#viewCard {
    height: 80vh;
}


#name {
    width: 20vw;
}


#destForm {
    padding-bottom: 20px;
}

label {
    color: #ca6636;
}

#addDest {
    width: 15vw;
}

#destsTable {
    max-height: 10vh;
    overflow: auto;
    width: 100%;
}
#tripsTable span {
    display: none;
}


input[type=datetime-local] {
}

#trip-card {
    height: 40vh;
    min-width: 100px;
}

.card-border {
    background-color: #376238;
}