#viewCard {
    height: 60vh;
}

#name {
    width: 20vw;
}


#destForm {
    padding-bottom: 20px;
}

label {
    color: #ca6636;
}

#addDest {
    width: 15vw;
}

#destsTable {
    max-height: 10vh;
    overflow: auto;
    width: 100%;
}
#tripsTable span {
    display: none;
}

.saveTripButton{
    right: 0;
    bottom: 0;
    margin: 1vw;
    position: fixed;
}
.button-back{
    right: 170px;
    bottom: 0;
    margin:1vw;
    position: fixed;
}

.tripNameInput{
    display: block;
    text-align: center;
    margin-left: 40vw;
    margin-bottom: 50px;
}

.delete-icon{
    display: inline;
}
.contract-icon{
    display: inline;
}
input[type=datetime-local] {
}

#trip-card {
    height: 40vh;
    min-width: 100px;
    background-color: #e8f5e9;
}

.card-border {
    background-color: #2e7d32;
}