#artistProfilePhotoContainer {
    display: block;
    width: 10vh;
    height: 10vh;
    margin-top: -95px;

}

#viewArtistTabs {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#viewArtistTabs, #aboutTabLink, #eventsTabLink, #membersTabLink{
    padding: 10px;
}

#aboutTab {
    padding-left: 10%;
    padding-right: 10%;
}
#eventsTab{
    padding-left: 10%;
    padding-right: 10%;
}

#membersTab {
    padding-left: 10%;
    padding-right: 10%;
}

#artistNameJumbo {

}

#viewArtistTabsContent {
    margin-left: auto;
    margin-right: auto;
}

#artistsFooter {
    position: fixed;
    bottom: 0;
    max-height: 10%;
    max-width: unset;
    background: #009779;
    z-index: 1;
}


#fbIcon, #instaIcon, #spotifyIcon, #twIcon, #websiteIcon{
    color: white;
    /*margin-left: auto;*/
}

.nav .nav-tabs, #aboutTabLink, #eventsTabLink, #membersTabLink {
    font-size: 18pt;
}

#wrapper {
    padding-bottom: 10%;
}

.button-col {
    max-width: 30vw;
}

.social-col {
    padding-left: 8vw;
}

#leaveArtistButton {
    position: fixed;
    left: 92.5vw;
    background-color: #41B49D;
    z-index: 2;
}

#eventsMap {
    width:100%;
    height:100%;
}

.map-events {
    height: 70vh;
    width: 70%;
    margin-top: 0;
    padding: 0;
}

.display-events {
    height: 70vh;
    overflow-y: scroll;
}

.event-link {
    color: #d74961;
    text-decoration: underline;
}

.event-link:hover {
    color: #009779;
    text-decoration: underline;
    cursor: pointer;
}


#eventName {
    left:50%;
    text-align: center;
    display: inline-block;
}

#eventsCard {
    margin-bottom: 10px;
}

#eventCardBody {
    padding-left: 30px;
}

.selectedTab {
    color: #41B49D;
}

.divider {
    width: 40vw;
}

.spotify {
    width: 40vw;
    height: 40vh;
}