#viewArtistTabs {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#viewArtistTabs, #aboutTabLink, #eventsTabLink, #membersTabLink{
    padding: 10px;
}


#aboutTab {
    padding-left: 10%;
    padding-right: 10%;
}
#eventsTab{
    padding-left: 10%;
    padding-right: 10%;
}

#membersTab {
    padding-left: 10%;
    padding-right: 10%;
}

#artistNameJumbo {

}

#viewArtistTabsContent {
    margin-left: auto;
    margin-right: auto;
}

#artistsFooter {
    position: fixed;
    bottom: 0;
    max-height: 10%;
    max-width: unset;
    background: #009779;
    z-index: 1;
}


#fbIcon, #instaIcon, #spotifyIcon, #twIcon, #websiteIcon{
    color: white;
    /*margin-left: auto;*/
}

.nav .nav-tabs, #aboutTabLink, #eventsTabLink, #membersTabLink {
    font-size: 18pt;
}

#wrapper {
    padding-bottom: 10%;
}

.button-col {
    max-width: 30vw;
}

.social-col {
    padding-left: 8vw;
}

#leaveArtistButton {
    position: fixed;
    left: 92.5vw;
    background-color: #41B49D;
    z-index: 2;
}

tr {
    color: #d74961 !important;
}

.ae {
    background-color: purple;
}

.spotify {
    width: 35vw;
}