@import play.mvc.Http
@import views.html.helper.{CSRF, form}

@(searchForm: Form[ArtistFormData],currentUser : Profile, genres: List[MusicGenre], profiles : List[Profile], countries : List[String], artists : List[Artist], followedArtists : List[Artist])(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="shortcut icon" type="image/*" href="@routes.Assets.at("images/logo.ico")"/>
        <title>TravelEA | Artists</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">

        <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/artist.css")">

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



    </head>

    <body>

        <div class="d-flex toggled" id="wrapper">

                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <h2 class="sidebar-heading">TravelEA </h2>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")" alt="Not Found"/>
                        Profile</a>
                    <a href="@routes.DestinationsController.show(false, 0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")" alt="Not Found"/>
                        Destinations</a>
                    <a href="@routes.TripsController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")" alt="Not Found"/>
                        Trips</a>
                    <a href="@routes.TravellersController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")" alt="Not Found"/>
                        Travellers</a>
                    <a style="color: #7d2f2e; background-color: #ede1d1 !important" href="@routes.ArtistController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/artist-icon.png")" alt="Not Found"/>
                        Artists</a>
                    <a href="@routes.TreasureHuntController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/treasure-hunt-icon.png")"/> Treasure Hunt</a>
                    <a href="@routes.EventsController.show(0)" class="list-group-item list-group-item-action bg-transparent">
                        <img class="sidebar-icon" src="@routes.Assets.at("images/event-icon.png")" alt="Not Found"/>
                        Events
                    </a>
                    @if(currentUser.hasRole("global_admin") || currentUser.hasRole("admin")) {
                        <a href="@routes.AdminController.showAdmins(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/admin-icon.png")" alt="Not Found"/>
                            Admin</a>
                    }
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")" alt="Not Found"/>
                        Logout</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light topbar-dark">
                    <h3 class="expand-icon toggleButton" id="menu-toggle" ><img class="toggleButton" id="menuIcon" src="@routes.Assets.at("images/burger-menu.png")" alt="Not Found"/></h3>
                    <div id="pageTitle">
                        <h2 class="text-center">Artists</h2>
                    </div>
                </nav>
            </div>
        </div>




            <div class="container">
                @if(request.flash.getOptional("info").isPresent) {
                    <div class="alert alert-info">
                    @request.flash.getOptional("info").get()
                    </div>
                }
                @if(request.flash.getOptional("error").isPresent) {
                    <div class="alert alert-danger">
                    @request.flash.getOptional("error").get()
                    </div>
                }
            </div>




        <div class="row justify-content-center" id="artist-container">
            <div class="col-lg-9 col-sm-11">
                @form(routes.ArtistController.search()){
                    @CSRF.formField

                    <div class="accordion" id="filterAccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <input type="search" id="name" name="name" placeholder="Search..">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                        data-target="#collapseFilters" aria-expanded="false"
                                        aria-controls="collapseFilters">Advanced Search
                                </button>
                                <button class="btn btn-primary" id="createArtistButton" type="button" data-toggle="modal" data-target="#createArtistModal">Create Artist</button>
                            </div>
                            <div id="collapseFilters" class="collapse artistFilters" aria-labelledby="headingOne" data-parent="#filterAccordion">
                                <div class="card-body">
                                    <div class="search">
                                        <div>
                                            <select class="selectpicker" data-size="3" id="country" name="country" title="Countries">
                                            @for(nation <- countries) {
                                                <option value="@nation">@nation</option>
                                            }
                                            </select>
                                            <select class="selectpicker" data-size="3" id="genre" name="genre" title="Genres">
                                            @for(genre <- genres) {
                                                <option value="@genre.getGenre">@genre.getGenre</option>
                                            }

                                            </select>
                                            <input type="checkbox" id="followed" name="followed">
                                            <label for="toggle">Followed Artists</label>
                                            }
                                            <a href="@routes.ArtistController.show()">
                                                <button id="clearButton" class="btn btn-secondary">Clear Search</button>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                <div class="viewArtists">
                    <div class="row" id="all-artist-cards">
                @for(artist <- artists) {
                    <div class="card-body col col-md-12 col-xl-6" id="artist-card">
                        <div class="card-header"> @artist.getArtistName</div>
                        <div class="row">
                            <div class="col col-10">
                            <p id="artist-stats"> <ul>
                                @for(country <- artist.getCountryList) {
                                    <li>@country</li>
                                }
                            </ul> <br> @artist.getBiography <br> <ul>
                            @for(genre <- artist.getGenreList) {
                                <li>@genre.getGenre</li>
                            }
                            </ul>
                                 </p>
                            </div>
                            <div class="col col-2">
                                <div class="row">
                                    <a href="@routes.ArtistController.showDetailedArtists(artist.getArtistId)">
                                        <button class="btn btn-primary" id="view" style="margin-bottom: 5px;">View</button>
                                    </a>
                                </div>
                                <div class="row">
                                    @if(followedArtists contains artist) {
                                        @helper.form(routes.ArtistController.unfollowArtist(artist.getArtistId)) {
                                            @CSRF.formField
                                            <button type="submit" class="btn btn-primary">Unfollow</button>
                                        }
                                    } else {
                                        @helper.form(routes.ArtistController.followArtist(artist.getArtistId)) {
                                            @CSRF.formField
                                            <button type="submit" class="btn btn-primary">Follow</button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                    </div>
                    <div class="row">
                        <button class="btn btn-outline-primary" id="show-more">Load more...</button>
                    </div>
                </div>
            </div>
        </div>

    </body>


    <div class="modal" id="createArtistModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                    <!-- header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Artist</h4>
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                @form(routes.ArtistController.createArtist()) {
                    @CSRF.formField
                        <!-- body -->
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Artist Name*</small>
                                            <input type="text" id="artistName" placeholder="Artist Name" name="artistName" class="inputField" required oninvalid="this.setCustomValidity('Artist name is required')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Members*</small>
                                            <input type="text" id="members" placeholder="member 1, member 2" name="members" class="inputField" required oninvalid="this.setCustomValidity('Members is required')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <label>Countries of Origin</label>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="hidden-div-edit">
                                            <input type="text" id="countries" name="countries" class="hidden-field">
                                        </div>
                                        <select class="selectpicker" data-live-search="true" multiple title="Countries of Origin" id="originDropdown" data-width="50%">
                                        @for(nation <- countries) {
                                            <option value="@nation">@nation</option>
                                        }
                                        </select>
                                    </div>
                                    <div class="row justify-content-center">
                                        <label>Genres</label>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="hidden-div-edit">
                                            <input type="text" id="genreForm" name="genreForm" class="hidden-field">
                                        </div>
                                        <select class="selectpicker" data-live-search="true" multiple title="Genres" id="genreDropdown" data-width="50%">
                                            @for(genre <- genres) {
                                                <option value="@genre.getGenreId">@genre.getGenre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="row justify-content-center">
                                        <label>Artist Admins</label>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="hidden-div-edit">
                                            <input type="text" id="adminForm" name="adminForm" class="hidden-field">
                                        </div>
                                        <select class="selectpicker" data-live-search="true" multiple title="Artist Admins" id="adminDropdown" data-width="50%">
                                            @for(profile <- profiles) {
                                                <option value="@profile.getProfileId">@profile.getFirstName @profile.getLastName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Facebook Link</small>
                                            <input type="url" id="facebookLink" placeholder="Facebook Link" name="facebookLink" class="inputField">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Instagram Link</small>
                                            <input type="url" id="instagramLink" placeholder="Instagram Link" name="instagramLink" class="inputField">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Spotify Link</small>
                                            <input type="url" id="spotifyLink" placeholder="Spotify Link" name="spotifyLink" class="inputField">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Twitter Link</small>
                                            <input type="url" id="twitterLink" placeholder="Twitter Link" name="twitterLink" class="inputField">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group" id="holder"> <small id="label">Website Link</small>
                                            <input type="url" id="websiteLink" placeholder="Website Link" name="websiteLink" class="inputField">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <textarea id="biography" rows="4" placeholder="Biography*" name="biography" required oninvalid="this.setCustomValidity('Biography is required')" oninput="setCustomValidity('')"></textarea>
                            </div>
                            <div class="row justify-content-center">
                                <small>Fields with a * are required</small>
                            </div>
                        </div>
                    </div>
                        <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" onclick="fillValsArtist()">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function fillValsArtist() {
            $('#genreForm').val($('#genreDropdown').val());
            $('#adminForm').val($('#adminDropdown').val());
            $('#countries').val($('#originDropdown').val());
        }

        // ------------- SIDEBAR TOGGLE JS -------------
        $(function () {
            $(".toggleButton").on('click', function (e) {
                $("#wrapper").toggleClass('toggled');

                e.stopPropagation();
                return false;
            });

            $('*:not(.toggleButton)').on('click', function () {
                $("#wrapper").addClass('toggled');
            });

        });
        // ---------------------------------------------

//==============================================INFINITE SCROLLING======================================================

        var page_count;
        var followed_artists_ids;


        function load_infinite() {
            page_count++;

            $("#show-more").text("Loading...");
            $("#show-more").prop('disabled', true);
            setTimeout(fetch_artists, 500);
        }

        $(document).ready(function() {
            page_count = 0;
            document.getElementById("show-more").addEventListener("click", load_infinite);

            if ((window.location.href.split('/search?')).length > 1){
                $("#show-more").hide();
            }

            followed_artists_ids = [];
            @for(artist <- followedArtists){
                followed_artists_ids.push(@artist.getArtistId);
            }


        });

        function fetch_artists(){

            fetch('/artists/page/'+page_count)
                    .then(
                            function(response) {
                                if (response.status !== 200) {
                                    console.log('Looks like there was a problem. Status Code: ' +
                                            response.status);
                                    return;
                                }
                                //
                                $("#show-more").text("Load more");
                                $("#show-more").prop('disabled', false);

                                // Examine the text in the response
                                response.json().then(function(data) {

                                    $("#all-artist-cards").append(artistJSONtoHTML(data))


                                });
                            }
                    )
                    .catch(function(err) {
                        console.log('Fetch Error :-S', err);
                    });

        };

        function artistJSONtoHTML(jsonData){
            
            var html = "";
            var i, c, g;


            for (i = 0; i < jsonData.length; i++) {

                var artist = jsonData[i];
                var id = parseInt(artist.artistId);
                var countries = artist.countryListString.split(",");



                html += "<div class='card-body col col-md-12 col-xl-6' id='artist-card'> " +
                            "<div class='card-header'>"+artist.artistName+"</div> " +
                                "<div class='row'>" +
                                    "<div class='col col-10'>" +
                                    "<p id='artist-stats'>" +
                                    "<ul>";
                                        for(c = 0; c < countries.length -1; c++) {
                                            html += "<li>"+countries[c]+"</li>";
                                        }

                                        html += "</ul><br>" +artist.biography+"<br><ul>";

                                        for(g = 0; g < artist.genreList.length; g++) {
                                            html += "<li>"+artist.genreList[g].genre+"</li>"
                                        }

                                    html+=
                                    "</ul>"+
                                    " </div>" +
                                    "<div class='col col-2'>" +
                                        "<div class='row'>" +
                                            "<a href='artists/"+id+"'>"+
                                            "<button class='btn btn-primary' id='view''>View</button></a>" +
                                        "</div>" +
                                        "<div class='row'>";
                                            if(followed_artists_ids.includes(id)) {
                                                html +="<a href='artist/"+id+"/unfollow'>"+
                                                    "<button class='btn btn-primary'>Unfollow</button>";
                                            }else{
                                                html +="<a href='artist/"+id+"/follow'>"+
                                                "<button class='btn btn-primary'>Follow</button></a>";

                                            }
                                html += "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                        "</div>"
                
            }
            return html

        }
    </script>
</html>