@(profileForm: Form[Profile])(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._

@main {

    <h1>Sign up to TravelEA</h1>

    @form(routes.HomeController.save()) {

        <fieldset>


            <p>What type of traveller are you, Please select one or more</p>
            @checkbox(profileForm("groupie"), '_label -> "groupie", '_help -> "")
            @checkbox(profileForm("thrillseeker"), '_label -> "thrillseeker", '_help -> "")
            @checkbox(profileForm("gapYear"), '_label -> "gapYear", '_help -> "")
            @checkbox(profileForm("weekender"), '_label -> "weekender", '_help -> "")
            @checkbox(profileForm("holidaymaker"), '_label -> "holidaymaker", '_help -> "")
            @checkbox(profileForm("buisness"), '_label -> "buisness", '_help -> "")
            @checkbox(profileForm("backpacker"), '_label -> "backpacker", '_help -> "")



        <div class="actions">
            <input type="submit" value="Setup traveller types" class="btn primary">
        </div>

    }

}
