@import play.mvc.Http
@import views.html.helper.form
@import views.html.helper.CSRF
@(userForm : Form[Profile])(implicit request: Http.Request, messages: play.i18n.Messages)

<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">


    <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/createUser.css")">
    <head>
        <meta charset="UTF-8">
        <title>TravelEA | Create User</title>

    </head>
    <body>

            <div id="startUpBox" class="startUpBox">
                @form(routes.CreateUserController.save()){
                    @CSRF.formField

                    <div class="row">
                        <div class="col">
                            <input type="text" id="firstName" placeholder="First Name" name="firstName" required oninvalid="this.setCustomValidity('First name is required')" oninput="setCustomValidity('')">
                        </div>

                        <div class="col">
                            <input type="text" id="middleName" placeholder="Middle Name" name="middleName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" id="lastName" placeholder="Last Name" name="lastName" required oninvalid="this.setCustomValidity('Last name is required')" oninput="setCustomValidity('')">
                        </div>

                        <div class="col">
                            <input type="text" id="email" placeholder="Email" name="email" required oninvalid="this.setCustomValidity('your.email@@example.com')" oninput="setCustomValidity('')" >
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="password" id="password" placeholder="Password" name="password" required oninvalid="this.setCustomValidity('Password is required')" oninput="setCustomValidity('')">
                        </div>

                        <div class="col">
                            <input type="date" id="birthDate"  name="birthDate" required oninvalid="this.setCustomValidity('Please select a date')" oninput="setCustomValidity('')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <select class="selectpicker" id="gender" name="gender" required oninvalid="this.setCustomValidity('Gender is required')" oninput="setCustomValidity('')">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                            <!--input type="text" id="gender" placeholder="Gender" name="gender" required oninvalid="this.setCustomValidity('Gender is required')" oninput="setCustomValidity('')"-->
                        </div>

                        <div class="col">
                            <input type="text" id="nationalities" placeholder="Nationalities" name="nationalities" required oninvalid="this.setCustomValidity('Nationality is required')" oninput="setCustomValidity('')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" id="passports" placeholder="Passport" name="passports">
                        </div>

                        <div class="col">
                            <div class="hidden-div">
                                <input type="text" id="travellerTypes" name="travellerTypes" class="hidden-field typesField" required>
                            </div>
                            <div>
                                <select class="selectpicker" multiple title="Traveller Type" id="typeDropdown" required>
                                    <option value="ThrillSeeker">ThrillSeeker</option>
                                    <option value="Backpacker">Backpacker</option>
                                    <option value="Gap Year">Gap Year</option>
                                    <option value="Groupie">Groupie</option>
                                    <option value="Frequent Weekender">Frequent Weekender</option>
                                    <option value="Functional/business Traveller">Functional/business Traveller</option>
                                    <option value="Holidaymaker">Holidaymaker</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <a href="@routes.LoginController.show()"><button type="button" id="cancelNewUser" class="redButton">Cancel</button></a>
                        </div>

                        <div class="col">
                            <button type="submit" id="okButton" onclick="fillVals()" class="loginButton">OK</button>
                        </div>
                    </div>

                    <div id = nationalityList>
                        <table id="natList">
                        </table>
                    </div>
                    <div id="passportList">
                        <table id = "pasList">
                        </table>
                    </div>

                }





            <script type="text/javascript">

                function fillVals() {
                    console.log($('#typeDropdown').val());
                    $('#travellerTypes').val($('#typeDropdown').val());
                }

            </script>



        </div>
    </body>

</html>