@import play.mvc.Http
@import views.html.helper.CSRF
@(destinationForm : Form[Destination])(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <head>
        <title>TravelEA | Destinations</title>
    </head>

    <body>
        <div class="d-flex" id="wrapper">
                <!-- Sidebar -->
            <div class="border-right" id="sidebar-wrapper">
                <h1 class="sidebar-heading">TravelEA </h1>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/> Profile</a>
                    <a style="color: #ca6636" href="@routes.DestinationsController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/> Destinations</a>
                    <a href="@routes.TripsController.show()"class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/> Trips</a>
                    <a href="@routes.TravellersController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/> Travellers</a>
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/> Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="button-add" id="menu-toggle">Toggle Menu</button>
                    <h2>Profile</h2> <!-- TODO align this in the center -->
                </nav>
            <div class="container-fluid">
                <div id="table-card" class="card-large">
                    <h3>Create destination</h3>
                    @helper.form(routes.DestinationsController.save()){
                        <fieldset>
                            @CSRF.formField
                            <div class="row">
                                <div class="col">
                                    @helper.inputText(destinationForm("name"), '_label -> "Name", '_help -> "", 'placeholder -> "")
                                    @helper.inputText(destinationForm("type"), '_label -> "Type", '_help -> "", 'placeholder -> "")
                                    @helper.inputText(destinationForm("district"), '_label -> "District", '_help -> "", 'placeholder -> "")
                                </div>
                                <div class="col">
                                    @helper.inputText(destinationForm("latitude"), '_label -> "Latitude", '_help -> "")
                                    @helper.inputText(destinationForm("longitude"), '_label -> "Longitude", '_help -> "")
                                    @helper.inputText(destinationForm("country"), '_label -> "Country", '_help -> "", 'placeholder -> "")
                                </div>
                            </div>


                        </fieldset>
                        <a href="@routes.DestinationsController.show()"> <button style="width: 10vw" class="button-delete" type="button">Back</button> </a>
                        <button type="submit" class="registerButton button-add" style="width: 10vw" id="saveButton">Save</button>
                    }
                </div>


            </div>



        </div>
        </div>

        <script type="text/javascript">
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
        </script>
    </body>
</html>
