@import play.mvc.Http
@import views.html.helper.CSRF
@(destinationForm : Form[Destination], currentProfile : Profile)(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">


    <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>


    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/destinations.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">

    <head>
        <link rel="shortcut icon" type="image/*" href="@routes.Assets.at("images/logo.ico")"/>
        <title>TravelEA | Destinations</title>
    </head>

    <body>
        <div class="d-flex toggled" id="wrapper">

                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <h1 class="sidebar-heading">TravelEA </h1>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/> Profile</a>
                    <a style="color: #ca6636" href="@routes.DestinationsController.show(false, 0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/> Destinations</a>
                    <a href="@routes.TripsController.show(0)"class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/> Trips</a>
                    <a href="@routes.TravellersController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/> Travellers</a>
                    <a href="@routes.TreasureHuntController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/treasure-hunt-icon.png")"/> Treasure Hunt</a>
                    @if( currentProfile.hasRole("global_admin") || currentProfile.hasRole("admin")) {
                        <a href="@routes.AdminController.showAdmins(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/admin-icon.png")"/> Admin</a>
                    }
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/> Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light topbar-dark">
                    <h3 class="expand-icon" id="menu-toggle" >Menu</h3>
                    <div id="pageTitle">
                    <h2>Destinations</h2> <!-- TODO align this in the center -->
                    </div>
                </nav>
            <div class="container-fluid">
                <div id="table-card" class="card-large">
                    @if(request.flash.getOptional("success").isPresent) {
                        <div class="alert alert-success">
                        @request.flash.getOptional("success").get()
                        </div>
                    }

                    @if(request.flash.getOptional("failure").isPresent) {
                        <div class="alert alert-failure">
                        @request.flash.getOptional("failure").get()
                        </div>
                    }
                    <h3>Create destination</h3>
                    @helper.form(routes.DestinationsController.saveDestination()){
                        <fieldset>
                            @CSRF.formField
                            <div class="row">
                                <div class="col">
                                    <label>Name</label>
                                    <input type="text" id="name" placeholder="Name" name="name" required oninvalid="this.setCustomValidity('Name required')" oninput="setCustomValidity('')">
                                </div>
                                <div class="col">
                                    <label>Type</label>
                                    <input type="text" id="type" placeholder="Type" name="type" required oninvalid="this.setCustomValidity('Type required')" oninput="setCustomValidity('')">

                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>District</label>
                                    <input type="text" id="district" placeholder="District" name="district">
                                </div>
                                <div class="col">


                                    <label>Country</label>
                                    <input type="text" id="country" placeholder="Country" name="country" required oninvalid="this.setCustomValidity('Country required')" oninput="setCustomValidity('')">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Latitude</label>
                                    <input type="number" step="0.01" id="latitude" value=0.0 name="latitude">
                                </div>
                                <div class="col">
                                    <label>Longitude</label>
                                    <input type="number" step="0.01" id="longitude" value=0.0 name="longitude">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Make Public</label>
                                    <input type="checkbox" id="visible" name="visible" value="Public" class="check-box">
                                </div>
                            </div>


                        </fieldset>
                        <a href="@routes.DestinationsController.show(false, 0)"> <button style="width: 10vw" class="button-delete" type="button">Back</button> </a>
                        <button type="submit" class="registerButton button-add" style="width: 10vw" id="saveButton">Save</button>
                    }
                </div>


            </div>



        </div>
        </div>

        <script type="text/javascript">
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
        </script>
    </body>
</html>
