@import play.mvc.Http
@import views.html.helper.CSRF
@(destinationForm : Form[Destination])(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <head>
        <title>TravelEA | Destinations</title>
    </head>

    <body>
        <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><h2>TravelEA</h2></div>
            <div id="sidebar">
                <a href="@routes.ProfileController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")" alt="icon"/> Profile</a>
                <a style="color: #ca6636" href="@routes.DestinationsController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")" alt="icon"/> Destinations</a>
                <a href="@routes.TripsController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")" alt="icon"/> Trips</a>
                <a href="@routes.TravellersController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")" alt="icon"/> Travellers</a>
                <a href="@routes.LoginController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")" alt="icon"/> Logout</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="table-card" class="card-large">
                    <h3>Create destination</h3>
                    @helper.form(routes.DestinationsController.saveDestination()){
                        <fieldset>
                            @CSRF.formField
                            <div class="row">
                                <div class="col">
                                    <label>Name</label>
                                    <input type="text" id="name" placeholder="Name" name="name" required oninvalid="this.setCustomValidity('Name required')" oninput="setCustomValidity('')">

                                </div>
                                <div class="col">
                                    <label>Type</label>
                                    <input type="text" id="type" placeholder="Type" name="type" required oninvalid="this.setCustomValidity('Type required')" oninput="setCustomValidity('')">

                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>District</label>
                                    <input type="text" id="district" placeholder="District" name="district">
                                </div>
                                <div class="col">


                                    <label>Country</label>
                                    <input type="text" id="country" placeholder="Country" name="country" required oninvalid="this.setCustomValidity('Country required')" oninput="setCustomValidity('')">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Latitude</label>
                                    <input type="number" step="0.01" id="latitude" value=0.0 name="latitude">
                                </div>
                                <div class="col">
                                    <label>Longitude</label>
                                    <input type="number" step="0.01" id="longitude" value=0.0 name="longitude">
                                </div>
                            </div>



                        </fieldset>
                        <a href="@routes.DestinationsController.show()"> <button style="width: 10vw" class="button-delete" type="button">Back</button> </a>
                        <button type="submit" class="registerButton button-add" style="width: 10vw" id="saveButton">Save</button>
                    }
                </div>


            </div>



        </div>
        </div>
    </body>
</html>
