@import play.mvc.Http
@import views.html.helper.CSRF
@(destinationsList : List[Destination], currentUser : Profile, isPublic: Boolean, followedDestinationIds : List[Integer], usersPhotos : List[Photo], destinationForm : Form[Destination], destination : RoutedObject[Destination])(implicit request: Http.Request, messages: play.i18n.Messages)

@import models.Destination; var toViewDest = new Destination()


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">


    <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>



    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/destinations.css")">
    <head>
        <title>TravelEA | Destinations</title>
    </head>

    <body>

        <div class="d-flex toggled" id="wrapper">

                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <h1 class="sidebar-heading">TravelEA </h1>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/>
                        Profile</a>
                    <a style="color: #ca6636" href="@routes.DestinationsController.show(isPublic)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/>
                        Destinations</a>
                    <a href="@routes.TripsController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/>
                        Trips</a>
                    <a href="@routes.TravellersController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/>
                        Travellers</a>
                    @if( currentUser.hasRole("global_admin") || currentUser.hasRole("admin")) {
                        <a href="@routes.AdminController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/admin-icon.png")"/> Admin</a>
                    }
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/>
                        Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light topbar-dark">
                    <h3 class="expand-icon" id="menu-toggle" >Menu</h3>
                    <div id="pageTitle">
                        <h2> Destinations</h2> <!-- TODO align this in the center -->
                    </div>
                </nav>

                @if(request.flash.getOptional("success").isPresent) {
                    <div class="alert alert-success">
                    @request.flash.getOptional("success").get()
                    </div>
                }

                @if(request.flash.getOptional("failure").isPresent) {
                    <div class="alert alert-failure">
                    @request.flash.getOptional("failure").get()
                    </div>
                }

                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div id="table-card" class="card-large dest-table table-hover">

                                <div id="btn-row" class="row">
                                        <!--a href="routes.DestinationsController.showCreate()"--> <button id="destButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createDestModal">
                                                Create Destination</button> </a>
                                        @if(!isPublic) {
                                            @helper.form(routes.DestinationsController.show(true)) {
                                            @CSRF.formField
                                                <button type="submit" id="destButton" class="btn btn-primary">Show Public</button>
                                            }
                                        } else {
                                            @helper.form(routes.DestinationsController.show(false)) {
                                            @CSRF.formField
                                                <button type="submit" id="destButton" class="btn btn-primary">Show Private</button>
                                            }
                                        }
                                </div>
                                <div class="row">
                                    <table id="destTable">
                                    <thead>
                                        <tr><th>Destination</th>
                                            <th>Type</th>
                                            <th>Country</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                    </thead>

                                    @for(destination <- destinationsList) {
                                        <tr onclick="setSelectedDestination(@destination.getDestinationId, this)">
                                            <td>@destination.getName()</td>
                                            <td>@destination.getType()</td>
                                            <td>@destination.getCountry()</td>

                                            @if(destination.getProfileId == currentUser.getProfileId || currentUser.hasRole("admin")) {

                                                <td>
                                                    <a href="@routes.DestinationsController.showDestinationEdit(destination.getDestinationId, isPublic)">
                                                        <button class="button-editDestinations btn btn-primary" style="height: 4vh">Edit</button>
                                                    </a>
                                                </td>

                                                @helper.form(routes.DestinationsController.delete(destination.getDestinationId())) {
                                                    @CSRF.formField
                                                    <td> <button type="submit" class="btn btn-outline-secondary" style="height: 4vh">
                                                        Delete</button></td>
                                                }
                                            } else {
                                                @if(followedDestinationIds contains destination.getDestinationId()) {
                                                    @helper.form(routes.DestinationsController.unfollow(currentUser.getProfileId, destination.getDestinationId(), isPublic)) {
                                                        @CSRF.formField
                                                        <td> <button type="submit" class="button-editDestinations btn btn-primary" style="height: 4vh">
                                                            Unfollow</button></td>
                                                    }
                                                } else {
                                                    @helper.form(routes.DestinationsController.follow(currentUser.getProfileId, destination.getDestinationId(), isPublic)) {
                                                        @CSRF.formField
                                                        <td> <button type="submit" class="button-editDestinations btn btn-outline-secondary" style="height: 4vh">
                                                            Follow</button></td>
                                                    }
                                                }
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div id="table-card" class="card-large">
                                <div id="destinationsMap"></div>
                                <div id="legend"><h4>Legend</h4></div>
                            </div>
                        </div>

                    </div>
                    <div id="table-card" class="card-large">

                        <div class="row">
                            <ul class="nav nav-tabs" id="destinationTabs">
                                <li class="active"><a data-toggle="tab" href="#detailsTab" id="detailsTabLink">Details</a></li>
                                <li><a data-toggle="tab" href="#myPhotosTab" id="myPhotosTabLink">My Photos</a></li>
                                <li><a data-toggle="tab" href="#worldPhotosTab" id="worldPhotosTabLink">World Photos</a></li>
                            </ul>
                        </div>
                        <div class="tab-content" id="destinationTabsContent">

                            <div id="detailsTab" class="tab-pane fade in active show">
                                <div class="container">

                                    <div id="nameRow" class="row justify-content-center">
                                        <div id="nameVal" class="col-md-2">
                                            <a></a>
                                        </div>

                                    </div>

                                    <div id="typeRow" class="row justify-content-center">
                                        <div id="typeVal" class="col-md-2">
                                            <a></a>
                                        </div>
                                    </div>

                                    <div id="countryRow" class="row justify-content-center">
                                        <div id="countryVal" class="col-md-2">
                                            <a></a>
                                        </div>
                                    </div>

                                    <div id="districtRow" class="row justify-content-center">
                                        <div id="districtVal" class="col-md-2">
                                            <a></a>
                                        </div>
                                    </div>

                                    <div id="latRow" class="row justify-content-center">
                                        <div id="latVal" class="col-md-2">
                                            <a></a>
                                        </div>
                                    </div>

                                    <div id="lngRow" class="row justify-content-center">
                                        <div id="lngVal" class="col-md-2">
                                            <a></a>
                                        </div>
                                    </div>

                                    <div id="publicRow" class="row justify-content-center">
                                        <div id="publicVal" class="col-md-2">
                                            <a></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="myPhotosTab" class="tab-pane fade">
                                <div class="container" id="userPhotos">
                                    <a></a>
                                </div>
                            </div>
                            <div id="worldPhotosTab" class="tab-pane fade">
                                <div class="container" id="worldPhotos">
                                    <a></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal fade" id="linkDestinationPhotoModal">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Link a Picture to this destination</h2>
                            </div>
                            <div class="col">
                                <div id="photosCard" class="card-large lower-card">
                                    <div class="row" id="photoUpdate">
                                        <a></a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="btn btn-danger" data-dismiss="modal" style="width: 10vw;
                                    float: right" class="changeProfilePictureButton"
                                data-toggle="modal" data-target="#changeProfilePicture">Close</button>
                            </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal fade" id="createDestModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Create Destination</h2>
                            </div>
                            @helper.form(routes.DestinationsController.saveDestination()) {
                                @CSRF.formField
                                <div class="modal-body">
                                    <div class="col">
                                        <div class="row">
                                            <div class="form-group" id="holder">
                                                <small id="label">Name*</small>
                                                <input type="text" id="name" placeholder="Name" name="name" required oninvalid="this.setCustomValidity('Name required')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group" id="holder">
                                                <small id="label">Type*</small>
                                                <input type="text" id="type" placeholder="Type" name="type" required oninvalid="this.setCustomValidity('Type required')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group" id="holder">
                                                <small id="label">District</small>
                                                <input type="text" id="district" placeholder="District" name="district">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group" id="holder">
                                                <small id="label">Country*</small>
                                                <input type="text" id="country" placeholder="Country" name="country" required oninvalid="this.setCustomValidity('Country required')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group" id="holder">
                                                <small id="label">Latitude</small>
                                                <input type="number" step="0.00001" id="latitude" value=0.0 name="latitude">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group" id="holder">
                                                <small id="label">Longitude</small>
                                                <input type="number" step="0.00001" id="longitude" value=0.0 name="longitude">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label id="label" for="visible">Make Public</label>
                                            </div>
                                            <div class="col">
                                                <input type="checkbox" id="visible" name="visible" value="Public" class="check-box">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"  data-dismiss="modal">Cancel</button>
                                    <button type="submit"  id="createButton" class="btn btn-primary">Save</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if(destination.isEdit && destination.getObject != null) {
                    <script type="text/javascript">
                            $(window).on('load', function () {
                                $('#editDestModal').modal('show');
                            });
                    </script>
                    <div class="modal" id="editModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                    <!-- header -->
                                <div class="modal-header">
                                    <h4>Destination: @destination.getObject.getDestinationId</h4>
                                    <button type="button" class="close" data-dismiss="modal"></button>
                                </div>
                                    <!-- body -->
                                @helper.form(routes.DestinationsController.update(destination.getObject.getDestinationId)) {
                                    @CSRF.formField
                                    <div class="modal-body">
                                        <div class="col">
                                            <div class="col">
                                                <div class="row">
                                                    <label>Name</label>
                                                </div>
                                                <div class="row">
                                                    <input type="text" id="name" placeholder="Name" name="name" value="@destination.getObject.getName" required oninvalid="this.setCustomValidity('Name required')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label for="type">Type</label>
                                                </div>
                                                <div class="row">
                                                    <input type="text" id="type" placeholder="Type" name="type" value="@destination.getObject.getType" required oninvalid="this.setCustomValidity('Type required')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label>District</label>
                                                </div>
                                                <div class="row">
                                                    <input type="text" id="district" placeholder="District" name="district" value="@destination.getObject.getDistrict">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label>Country</label>
                                                </div>
                                                <div class="row">
                                                    <input type="text" id="country" placeholder="Country" name="country" value="@destination.getObject.getCountry" required oninvalid="this.setCustomValidity('Country required')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label>Latitude</label>
                                                </div>
                                                <div class="row">
                                                    <input type="number" step="0.01" id="latitude" name="latitude" value="@destination.getObject.getLatitude">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label>Longitude</label>
                                                </div>
                                                <div class="row">
                                                    <input type="number" step="0.01" id="longitude" name="longitude" value="@destination.getObject.getLongitude">
                                                </div>

                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label>Traveller Types</label>
                                                </div>
                                                <div class="row">
                                                <select class="selectpicker" multiple title="Traveller Type" id="typeDropdown" data-width="100%" required>
                                                    <option value="ThrillSeeker">ThrillSeeker</option>
                                                    <option value="Backpacker">Backpacker</option>
                                                    <option value="Gap Year">Gap Year</option>
                                                    <option value="Groupie">Groupie</option>
                                                    <option value="Frequent Weekender">Frequent Weekender</option>
                                                    <option value="Functional/business Traveller">Functional/business Traveller</option>
                                                    <option value="Holidaymaker">Holidaymaker</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <label>Make Public</label>
                                                </div>
                                                <div class="row">
                                                @if(destination.getObject.getVisible == 1) {
                                                    <input type="checkbox" id="visible" name="visible" value="1" class="check-box" checked>
                                                } else {
                                                    <input type="checkbox" id="visible" name="visible" value="1" class="check-box">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                }
                            </div>
                        </div>
                        @if(destination.isEdit && destination.getObject != null) {
                            <script type="text/javascript">
                                    $(window).on('load', function () {
                                        $('#editModal').modal('show');
                                    });
                            </script>

                        }
                    </div>
                }
            </div>
        </div>
    </body>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#destTable').DataTable({
                    "lengthChange": false,
                    "pagingType": "full",
                    "pageLength": 7,
                    dom: '<l<"toolbar">f>rtip',
                    language: {
                        search: "_INPUT_", //To remove Search Label
                        searchPlaceholder: "Search..."
                    },
                    "sDom": '<"top"pfl>rt<"bottom"><"clear">',
                    "autoWidth": false
                });


            });

            var map;
            var markers = [];
            var markersMap = new Map();
            var destinationId;
            var nightStyle = [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#242f3e"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#746855"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#242f3e"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#263c3f"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#6b9a76"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#38414e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#212a37"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9ca5b3"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#746855"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#1f2835"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#f3d19c"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#2f3948"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#17263c"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "saturation": -10
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#515c6d"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#17263c"
                        }
                    ]
                }
            ];

            var dayStyle = [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#523735"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9b2a6"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dcd2be"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ae9e90"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#93817c"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a5b076"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#447530"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#fdfcf8"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f8c967"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#e9bc62"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e98d58"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#db8555"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#806b63"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8f7d77"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b9d3c2"
                        },
                        {
                            "saturation": -10
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#92998d"
                        }
                    ]
                }
            ];

            /**
            * Initialises the map view
            */
            function initMap() {
                var styles;
                var today = new Date();
                var hours = today.getHours();
                if (hours <= 6 || hours >= 21) {
                    styles = nightStyle;
                } else {
                    styles = dayStyle;
                }
                var center = {lat: -43.5321, lng: 172.6362};
                map = new google.maps.Map(document.getElementById('destinationsMap'), {
                    center: center,
                    streetViewControl: false,
                    fullscreenControl: false,
                    zoom: 8,
                    styles: styles
                });
                addMarkers();
            }



            /**
            * Adds all current destinations to the map as markers
            */
            function addMarkers() {
                var centerSet = false;
                @for(destination <- destinationsList) {
                        var icon;
                        if(@destination.getVisible === 1) {
                            icon = 'http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_green.png';
                        } else {
                            icon = 'http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_red.png';
                        }
                        var marker = new google.maps.Marker({
                           position: {
                               lat: @destination.getLatitude,
                               lng: @destination.getLongitude
                           },
                           animation: google.maps.Animation.DROP,
                           map: map,
                            icon: icon
                        });

                        marker.content = "Name: @destination.getName" +
                                "<br> Type: @destination.getType" +
                                "<br> Country: @destination.getCountry";
                        var destinationId = @destination.getDestinationId;
                        var infoWindow = new google.maps.InfoWindow();

                        google.maps.event.addListener(marker, 'click', function () {
                            infoWindow.setContent(this.content);
                            infoWindow.open(this.getMap(), this);
                            document.getElementById("nameVal").innerHTML = " <b>Name: &nbsp;&nbsp;</b> @destination.getName";
                            document.getElementById("typeVal").innerHTML = "  <b>Type: &nbsp;&nbsp;</b> @destination.getType";
                            document.getElementById("countryVal").innerHTML = "  <b>Country: &nbsp;&nbsp;</b> @destination.getCountry";
                            document.getElementById("districtVal").innerHTML = "  <b>District: &nbsp;&nbsp;</b> @destination.getDistrict";
                            document.getElementById("latVal").innerHTML = "  <b>Latitude: &nbsp;&nbsp;</b> @destination.getLatitude";
                            document.getElementById("lngVal").innerHTML = "  <b>Longitude: &nbsp;&nbsp;</b> @destination.getLongitude";
                            @if(destination.getVisible == 1){
                                document.getElementById("publicVal").innerHTML = "  <b>Visibility: &nbsp;&nbsp;</b> Public ";
                            }else{
                                document.getElementById("publicVal").innerHTML = "  <b>Visibily: &nbsp;&nbsp;</b> Private ";
                            }

                            document.getElementById("userPhotos").innerHTML = " ";
                            document.getElementById("photoUpdate").innerHTML = " ";
                            document.getElementById("worldPhotos").innerHTML = " ";

                            document.getElementById("userPhotos").innerHTML = " <button class=\"btn btn-primary\" style=\"right\" data-toggle=\"modal\"\n" +
                                    "                            data-target=\"#linkDestinationPhotoModal\">Link Photo</button>";
                            @for(photo <- usersPhotos){
                                @if(destination.getUsersPhotos.contains(photo)){
                                    document.getElementById("userPhotos").innerHTML +=
                                            "                            <div class=\"card\">\n" +
                                            "                            <img onclick=\"expand(src, alt, name)\" id=\"displayImage\" class=\"thumbnail\"\n" +
                                            "                            src=\"@routes.ProfileController.photoAt(photo.getPhotoId)\" alt=\"@photo.getName\"\n" +
                                            "                            name=\"@photo.getPhotoId\">\n" +
                                            "                            <div>@if(photo.getVisible == 1) {\n" +
                                            "                                            <p class=\"card-text\"> @photo.displayVisibility(photo.getVisible) 🌏</p>\n" +
                                            "                                            <a href=\"@routes.DestinationsController.updatePhotoPrivacy(photo.getPhotoId)\">\n" +
                                            "                                                <button class=\"btn btn-primary\">Make Private</button></a>\n" +
                                            "                                        } else {\n" +
                                            "                                            <p class=\"card-text\"> @photo.displayVisibility(photo.getVisible) 🔒</p>\n" +
                                            "                                            <a href=\"@routes.DestinationsController.updatePhotoPrivacy(photo.getPhotoId)\">\n" +
                                            "                                                <button class=\"btn btn-primary\">Make Public</button></a>\n" +
                                            "                                        }</div>" +
                                            "                            <div class=\"card-body\">\n" +
                                            "                            <input type=\"hidden\" id=\"photoId\" name=\"photoId\" value=\"@photo.getPhotoId\">\n" +
                                            "                            <a id=\"addPhoto\" href=\"@routes.DestinationsController.unlinkPhotoFromDestination(photo.getPhotoId, destination.getDestinationId)\">\n" +
                                            "                            <button class=\"btn btn-danger\" type=\"submit\">unLink</button>\n" +
                                            "                            </a>\n" +
                                            "                            </div>\n" +
                                            "                            <!-- The Expanded Photo Modal -->\n" +
                                            "                            <div id=\"expandImageModal\" class=\"modal\">\n" +
                                            "                            <span class=\"close\">&times;</span>\n" +
                                            "                            <img class=\"modal-content\" id=\"expandedImage\">\n" +
                                            "                            <div id=\"caption\"></div>\n" +
                                            "                            <div id=\"id\"></div>\n" +
                                            "                            </div>\n" +
                                            "                            </div>";
                                }
                            }
                           @for(photo <- usersPhotos){
                                @if(!destination.getUsersPhotos.contains(photo)) {
                            document.getElementById("photoUpdate").innerHTML +=
                                    "                            <div class=\"card\">\n" +
                                    "                            <img onclick=\"expand(src, alt, name)\" id=\"displayImage\" class=\"thumbnail\"\n" +
                                    "                            src=\"@routes.ProfileController.photoAt(photo.getPhotoId)\" alt=\"@photo.getName\"\n" +
                                    "                            name=\"@photo.getPhotoId\">\n" +
                                    "                            <div class=\"card-body\" id=\"photoUpdate\">\n" +
                                    "                            <input type=\"hidden\" id=\"photoId\" name=\"photoId\" value=\"@photo.getPhotoId\">\n" +
                                    "                            <a id=\"addPhoto\" href=\"@routes.DestinationsController.linkPhotoToDestination(photo.getPhotoId, destination.getDestinationId)\">\n" +
                                    "                            <button class=\"btn btn-primary\" type=\"submit\">Link</button>\n" +
                                    "                            </a>\n" +
                                    "                            </div>\n" +
                                    "                            <!-- The Expanded Photo Modal -->\n" +
                                    "                            <div id=\"expandImageModal\" class=\"modal\">\n" +
                                    "                            <span class=\"close\">&times;</span>\n" +
                                    "                            <img class=\"modal-content\" id=\"expandedImage\">\n" +
                                    "                            <div id=\"caption\"></div>\n" +
                                    "                            <div id=\"id\"></div>\n" +
                                    "                            </div>\n" +
                                    "                            </div>";
                                }
                            }
                            @for(photo <- destination.getWorldPhotos){
                                @if(photo.getVisible == 1) {
                            document.getElementById("worldPhotos").innerHTML +=
                                    "                            <div class=\"card\">\n" +
                                    "                            <img onclick=\"expand(src, alt, name)\" id=\"displayImage\" class=\"thumbnail\"\n" +
                                    "                            src=\"@routes.ProfileController.photoAt(photo.getPhotoId)\" alt=\"@photo.getName\"\n" +
                                    "                            name=\"@photo.getPhotoId\">\n" +
                                    "                            <!-- The Expanded Photo Modal -->\n" +
                                    "                            <div id=\"expandImageModal\" class=\"modal\">\n" +
                                    "                            <span class=\"close\">&times;</span>\n" +
                                    "                            <img class=\"modal-content\" id=\"expandedImage\">\n" +
                                    "                            <div id=\"caption\"></div>\n" +
                                    "                            <div id=\"id\"></div>\n" +
                                    "                            </div>\n" +
                                    "                            </div>";
                                }
                            }
                            console.log(photoList);
                        });

                        markers.push(marker);
                        markersMap.set(@destination.getDestinationId, marker);
                        if (!centerSet) {
                            centerSet = true;
                            map.setCenter(new google.maps.LatLng(@destination.getLatitude, @destination.getLongitude))
                        }
                        markers.push(marker);
                        markersMap.set(@destination.getDestinationId, marker);
                        if (!centerSet) {
                            centerSet = true;
                            map.setCenter(new google.maps.LatLng(@destination.getLatitude, @destination.getLongitude))
                        }
                }
                var legend = document.getElementById('legend');
                var publicDiv = document.createElement('div');
                publicDiv.innerHTML = '<img src="http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_green.png"> Public Destination';
                var privateDiv = document.createElement('div');
                privateDiv.innerHTML = '<img src="http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_red.png"> Private Destination';
                legend.appendChild(publicDiv);
                legend.appendChild(privateDiv);
                map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);
            }




            /**
            * Onclick of a table row sets the center of the map to that destination
            * and makes the related marker bounce
            */
            function setSelectedDestination(destinationId, row) {
                var markerToSet = markersMap.get(destinationId);
                new google.maps.event.trigger( markerToSet, 'click' );
                map.setCenter(markerToSet.getPosition());
                clearAnimations();
                markerToSet.setAnimation(google.maps.Animation.BOUNCE);
                setTimeout(function() {
                    markerToSet.setAnimation(null)
                }, 3000);
                clearRows();
                if (row.style.backgroundColor === "") {
                    row.style.backgroundColor = "#A9A9A9";
                } else {
                    row.style.backgroundColor = "";
                }
            }

            /**
            * Stops all marker animations on the map
            */
            function clearAnimations() {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setAnimation(null);
                }
            }

            /**
            * Sets all rows in the table back to the default background colour
            */
            function clearRows() {
                var rows = document.getElementById("destTable").rows;
                for (var i = 1; i < rows.length; i++) {
                    rows[i].style.backgroundColor = "";
                }
            }


            $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            });

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCyC_ON0GgSmJIfPlL7oke5PZgbR8TLbg&callback=initMap"
    async defer></script>


</html>
