@(profile: Profile)

@import helper._

@if(profile == null) {
    @main {
        <h2>Please log in to view your profile</h2>
    }
} else {
    @main {
        <p>Email : @profile.getEmail</p>
        <p>First Name : @profile.getFirstName</p>
        <p>Last Name : @profile.getLastName</p>
        <p>Date of Birth : @profile.getBirthDate</p>
        <p>Gender  : @profile.getGender</p>
        <p>Time Created  : @profile.getTimeCreated</p>
        @if(profile.passportToList().isEmpty) {
            <p>There are no Passports associated with this account!</p>
        } else {
            <p>Passports : </p>
            @for(passports <- profile.passportToList()) {
                <p>@passports</p>
            }
        }
        @if(profile.nationalityToList().isEmpty) {
            <p>There are no Nationalities associated with this account!</p>
        } else {
            <p>Nationality: </p>
            @for(nationalities <- profile.nationalityToList()) {
                <p>@nationalities</p>
            }
        }

        <p>Traveller Types : @profile.getTravellerTypesString</p>
    }
}