@(profileForm: Form[Profile], email: String)

@import helper._


@main {
    
    <h1>Edit Profile</h1>
    
    @helper.form(routes.HomeController.updateProfile()){

        <fieldset>
            @CSRF.formField
            <input type="text" name="Email" value="@email" readonly>
            @inputPassword(profileForm("password"), '_label -> "Password", '_help -> "")
            @inputText(profileForm("firstName"), '_label -> "First Name", '_help -> "")
            @inputText(profileForm("lastName"), '_label -> "Last Name", '_help -> "")
            @inputDate(profileForm("birthDate"), '_label -> "Date of Birth", '_help -> "Format dd-MM-yyyy")
            @select(
            profileForm("gender"),
            options = Seq(
            "Other" -> "Other",
            "Male" -> "Male",
            "Female" -> "Female"),
            '_label -> "Choose gender",
            '_showConstraints -> false
            )
            @inputText(profileForm("passports"), '_label -> "Passports", '_help -> "")
            @inputText(profileForm("nationality"), '_label -> "Nationalities", '_help -> "Seperate by comma (,) if multiple")
            <p>What type of traveller are you, Please select one or more</p>
            @checkbox(profileForm("groupie"), '_label -> "groupie", '_help -> "")
            @checkbox(profileForm("thrillseeker"), '_label -> "thrillseeker", '_help -> "")
            @checkbox(profileForm("gapYear"), '_label -> "gapYear", '_help -> "")
            @checkbox(profileForm("weekender"), '_label -> "weekender", '_help -> "")
            @checkbox(profileForm("holidaymaker"), '_label -> "holidaymaker", '_help -> "")
            @checkbox(profileForm("business"), '_label -> "buisness", '_help -> "")
            @checkbox(profileForm("backpacker"), '_label -> "backpacker", '_help -> "")

        </fieldset>

        <fieldset>
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save Changes" class="btn primary"> or
            <a href="@routes.HomeController.index()" class="btn">Cancel</a>
        </div>

    }

    
}
