@import play.mvc.Http
@import views.html.helper.CSRF
@(currentUser: Profile, event: Events, attendees: List[String])(implicit request: Http.Request, messages: play.i18n.Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/*" href="@routes.Assets.at("images/logo.ico")"/>
        <title>SoundBound | @event.getEventName</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">

        <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/event.css")">

            <!--Font Awesome Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="d-flex toggled" id="wrapper">
                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <h2 class="sidebar-heading">SoundBound </h2>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")" alt="Not Found"/>
                        Profile</a>
                    <a href="@routes.DestinationsController.show(false, 0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")" alt="Not Found"/>
                        Destinations</a>
                    <a href="@routes.TripsController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")" alt="Not Found"/>
                        Trips</a>
                    <a href="@routes.TravellersController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")" alt="Not Found"/>
                        Travellers</a>
                    <a href="@routes.ArtistController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/artist-icon.png")" alt="Not Found"/>
                        Artists</a>
                    <a href="@routes.TreasureHuntController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/treasure-hunt-icon.png")" alt="Not Found"/>
                        Treasure Hunt</a>
                    <a style="color: #d74961;
                        background-color: #ede1d1 !important" href="@routes.EventsController.show(0)" class="list-group-item list-group-item-action bg-transparent">
                        <img class="sidebar-icon" src="@routes.Assets.at("images/event-icon.png")"/>
                        Events
                    </a>
                    @if(currentUser.hasRole("global_admin") || currentUser.hasRole("admin")) {
                        <a href="@routes.AdminController.showAdmins(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/admin-icon.png")" alt="Not Found"/>
                            Admin</a>
                    }
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")" alt="Not Found"/>
                        Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light topbar-dark">
                    <h3 class="expand-icon toggleButton" id="menu-toggle" ><img class="toggleButton" id="menuIcon" src="@routes.Assets.at("images/burger-menu.png")" alt="Not Found"/></h3>
                    <div id="pageTitle">
                        <h2 class="text-center">@event.getEventName</h2>
                    </div>
                </nav>
                <div class="jumbotron text-center" id="eventJumbo">

                </div>
                @if(request.flash.getOptional("success").isPresent) {
                    <div class="alert alert-success" id="successAlert">
                    @request.flash.getOptional("success").get()
                    </div>
                }

                @if(request.flash.getOptional("error").isPresent) {
                    <div class="alert alert-danger" id="failureAlert">
                    @request.flash.getOptional("error").get()
                    </div>
                }
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="eventTabs">
                            <li class="active"><a data-toggle="tab" href="#detailsTab" class="tabLink" id="detailsTabLink">
                                Details</a></li>
                            <li ><a data-toggle="tab" href="#destinationTab" class="tabLink" id="destinationTabLink">
                                Destination</a></li>
                            <li ><a data-toggle="tab" href="#artistsTab" class="tabLink" id="artistsTabLink">
                                Artists</a></li>
                            <li ><a data-toggle="tab" href="#attendeesTab" class="tabLink" id="attendeesTabLink">
                                Attendees</a></li>
                        </ul>
                    </div>

                    <div class="tab-content" id="eventsTabsContent">
                        <div id="detailsTab" class="tab-pane fade in active show">
                            @*/ /@ event.getTicketPrice #TODO Add ticket price*@
                            @*/ /Button*@
                            @*/ /@ event.getTicketLink #TODO Add ticket link ? maybe on bottom*@
                            <div id="eventDescription" class="card center-col overflow-auto">
                                <i class="fa fa-info-circle">&nbsp;</i>
                                @event.getDescription
                                <hr>
                                <i class="fa fa-calendar">&nbsp;</i>
                                @event.getStartDateString to @event.getEndDateString
                                <hr>
                                <i class="fa fa-exclamation-triangle">&nbsp;</i>
                                @event.getAgeRestrictionString
                                <hr>
                                <i class="fa fa-globe">&nbsp;</i>
                                @event.getDestination.getName
                            </div>


                        </div>

                        @*/ /Attend / Not going button*@


                        <div id="destinationTab" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-4 card" id="destinationDetails">
                                    <div class="row justify-content-center">
                                        <h3 class="primary-color">@event.getEventName
                                            is happening at @event.getDestination.getName</h3>
                                    </div>
                                    <div class="row">
                                        Type: @event.getDestination.getType
                                    </div>
                                    <div class="row">
                                        Country: @event.getDestination.getCountry
                                    </div>
                                    <div class="row">
                                        District: @event.getDestination.getDistrict
                                    </div>
                                </div>
                                <div id="map-card" class="col card-large">
                                    <div id="destinationMap"></div>
                                </div>
                            </div>
                        </div>
                        <div id="artistsTab" class="tab-pane fade in">
                            <div class="row">

                            @for(artist <- event.getEventArtists) {
                                <div class="col">
                                    <div class="card" id="eventsCard">
                                        <div class="row">
                                            <div class="col">
                                                        PUT PICTURE HERE
                                                <a href="/artists/@artist.getArtistId">
                                                    <h3>@artist.getArtistName</h3>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                            Bio: @artist.getBiography
                                                        </div>
                                                <div class="row">
                                                            Members: @artist.getMembers
                                                        </div>
                                                <div class="row">

                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            </div>

                        </div>
                        <div id="attendeesTab" class="tab-pane fade in">
                            <div class="row">
                                <table id="shownAttendees" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Attendees</th>
                                        </tr>
                                    </thead>
                                    @for(attendee <- attendees) {
                                        <tr>
                                            <td>@attendee</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container" id="eventFooter">
                    <div class="row justify-content-center">
                        <div class="col button-col">
                            <button class="btn btn-secondary" onclick="goBack()">Back</button>

                        </div>
                        @if(event.getEventArtists.contains(currentUser)) {
                            <div class="col button-col">
                                <button class="btn btn-secondary" type="button" id="changeEventPhotoButton" data-toggle="modal"
                                data-target="#changeEventPhotoModal">
                                    Change Cover Photo
                                </button>
                            </div>
                        }
                        @*/ / @ if(event.getTicketLink) #TODO Set this when ticket booking is adedd*@
                        <div class="col button-col">
                            <button class="btn btn-secondary" style="float: right">
                                <i class="fa fa-credit-card">&nbsp;</i>Buy Tickets
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="changeEventPhotoModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Change Event Cover Photo</h2>
                    </div>
                    @* TODO: Link to backend when backend is complete *@
                    @* @helper.form(routes.EventsController.uploadPhoto(event.getEventId), 'enctype -> "multipart/form-data") {
                    @CSRF.formField *@
                        <div class="modal-body">
                            <input type="file" id="image" name="image">
                            <input type="hidden" id="visible" name="visible" value="Public" hidden>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    @*}*@
                </div>
            </div>
        </div>


    </body>


    <script>

            $(function () {
                $(".toggleButton").on('click', function (e) {
                    $("#wrapper").toggleClass('toggled');

                    e.stopPropagation();
                    return false;
                });

                $('*:not(.toggleButton)').on('click', function () {
                    $("#wrapper").addClass('toggled');
                });

            });

            function goBack() {
                window.history.back();
            }

            var map;
            var nightStyle = [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#242f3e"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#746855"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#242f3e"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#263c3f"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#6b9a76"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#38414e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#212a37"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9ca5b3"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#746855"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#1f2835"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#f3d19c"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#2f3948"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#17263c"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "saturation": -10
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#515c6d"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#17263c"
                        }
                    ]
                }
            ];

            var dayStyle = [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#523735"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9b2a6"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dcd2be"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ae9e90"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#93817c"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a5b076"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#447530"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#fdfcf8"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f8c967"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#e9bc62"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e98d58"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#db8555"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#806b63"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8f7d77"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b9d3c2"
                        },
                        {
                            "saturation": -10
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#92998d"
                        }
                    ]
                }
            ];

            /**
             * Initialises the map view
             */
            function initMap() {
                var styles;
                var today = new Date();
                var hours = today.getHours();
                if (hours <= 6 || hours >= 21) {
                    styles = nightStyle;
                } else {
                    styles = dayStyle;
                }
                var center = {lat: @event.getDestination.getLatitude, lng: @event.getDestination.getLongitude};
                map = new google.maps.Map(document.getElementById('destinationMap'), {
                    center: center,
                    streetViewControl: false,
                    fullscreenControl: false,
                    zoom: 8
                });

                var marker = new google.maps.Marker({
                    position: {
                        lat: @event.getDestination.getLatitude,
                        lng: @event.getDestination.getLongitude
                    },
                    animation: google.maps.Animation.DROP,
                    map: map
                });

            }

    </script>

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Z1g5p2rQtS0nHgDudzCCXVl2HJl3NPI&callback=initMap"*@
    @*async defer></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>

</html>