@()

  @main {
    <div>
      <h1>Welcome to TravelEA</h1>
      <h2><a href="@routes.HomeController.create()">Sign Up here</a></h2>

      <h2><a href="@routes.HomeController.listProfile()">View All Profiles</a></h2>

      <h2><a href="@routes.HomeController.login()">Log in</a></h2>

      <h2><a href="@routes.HomeController.logout">Log out</a></h2>

      <h2><a href="@routes.HomeController.showCurrentUser()">Profile</a></h2>

      <h2><a href="@routes.HomeController.searchProfile()">Search for a profile</a></h2>

      <h2><a href="@routes.HomeController.searchPartner()">Search for a partner</a></h2>

      <h2><a href="@routes.HomeController.createDestination()">Add a destination</a></h2>

      <h2><a href="@routes.HomeController.listDestinations()">List Destinations</a></h2>



    </div>
  }
