@import controllers.LoginController.Login
@import play.mvc.Http
@import views.html.helper.{CSRF, form}
@(loginForm : Form[Login], userForm : Form[Profile], countries : List[String])(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/*" href="@routes.Assets.at("images/logo.ico")"/>
        <title>TravelEA</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">

        <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="startUpBox" class="startUpBox">

            @if(request.flash.getOptional("info").isPresent) {
                <div class="alert alert-info">
                @request.flash.getOptional("info").get()
                </div>
            }
            @if(request.flash.getOptional("warning").isPresent) {
                <div class="alert alert-warning">
                @request.flash.getOptional("warning").get()
                </div>
            }

            <div class="row" id="logoRow">
                <div class="col" align="center">
                    <img id="logo-login" src="@routes.Assets.at("images/logo.png")">
                </div>
            </div>


            <div class="row" id="greeting">
                <div class="col" align="center">
                    <h2 class="welcome">Welcome to Soundbound</h2>
                </div>
            </div>

            <div class="row">
                    <!--  Login Scene  -->
                @form(routes.LoginController.login()){
                    @CSRF.formField
                    <div class="col" id="loginForm">
                        <div class="row">
                            <div class="col" align="center">
                                <input type="text" id="email" class="loginEmail" placeholder="Email" name="email" required oninvalid="this.setCustomValidity('Email required')" oninput="setCustomValidity('')">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" align="center">
                                <input type="password" id="password" class="loginPassword" placeholder="Password" name="password" required oninvalid="this.setCustomValidity('Password required')" oninput="setCustomValidity('')">
                            </div>
                        </div>
                        <div class="row" id="loginButtons">
                            <div class="col" align="center">
                                <button type="button" id="createUserButton" class="btn btn-secondary" data-toggle="modal" data-target="#createProfileModal">Sign Up</button>
                            </div>
                            <div class="col" align="center">
                                <button type="submit" id="loginButton" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </div>
                }
            </div>



        </div>


        <div class="modal fade" id="createProfileModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title ">Create a profile</h2>
                    </div>
                    @form(routes.LoginController.save()) {
                        @CSRF.formField
                        <div class="modal-body">
                            <div class="col">
                                <div class="row">
                                    <div class="form-group" id="holder"> <small id="label" for="firstName">First Name*</small>
                                        <input type="text" id="firstName" placeholder="First Name" name="firstName" class="inputField" required oninvalid="this.setCustomValidity('First name required')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="holder"> <small id="label" for="firstName">Middle Name</small>
                                        <input type="text" id="middleName" placeholder="Middle Name" name="middleName" class="inputField">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="holder"> <small id="label" for="firstName">Last Name*</small>
                                        <input type="text" id="lastName" placeholder="Last Name" name="lastName" class="inputField" required oninvalid="this.setCustomValidity('Last name required')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="hidden-div-edit">
                                        <input type="text" id="travellerTypesForm" name="travellerTypesForm" class="hidden-field typesField" required>
                                    </div>
                                    <label>Traveller Types*</label>
                                    <select class="selectpicker" multiple title="Traveller Types" id="typeDropdown" data-width="100%" required>
                                        <option value="ThrillSeeker">ThrillSeeker</option>
                                        <option value="Backpacker">Backpacker</option>
                                        <option value="Gap Year">Gap Year</option>
                                        <option value="Groupie">Groupie</option>
                                        <option value="Frequent Weekender">Frequent Weekender</option>
                                        <option value="Functional/business Traveller">Functional/business Traveller</option>
                                        <option value="Holidaymaker">Holidaymaker</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label>Gender*</label>
                                    <select class="selectpicker" id="gender" name="gender" data-width="100%" required oninvalid="this.setCustomValidity('Gender is required')" oninput="setCustomValidity('')">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="holder"> <small id="label" for="firstName">DOB*</small>
                                        <input type="date" id="birthDate"  name="birthDate" class="inputField" required oninvalid="this.setCustomValidity('Please select a date')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="holder"> <small id="label" for="firstName">Email*</small>
                                        <input type="text" id="email" placeholder="Email" name="email" class="inputField createEmail" required oninvalid="this.setCustomValidity('your.email@@example.com')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="holder"> <small id="label" for="firstName">Password*</small>
                                        <input type="password" id="password" placeholder="Password" name="password" class="inputField createPassword" required oninvalid="this.setCustomValidity('your.email@@example.com')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="hidden-div-edit">
                                        <input type="text" id="nationalitiesForm" name="nationalitiesForm" class="hidden-field" required>
                                    </div>
                                    <label>Nationalities</label>
                                    <select class="selectpicker" data-live-search="true" multiple title="Nationalities" id="nationDropdown" data-width="100%">
                                        @for(nation <- countries) {
                                            <option value="@nation">@nation</option>
                                        }
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="hidden-div-edit">
                                        <input type="text" id="passportsForm" name="passportsForm" class="hidden-field">
                                    </div>
                                    <label>Passports</label>
                                    <select class="selectpicker" data-live-search="true" multiple title="Passports" id="passportDropdown" data-width="100%">
                                    @for(nation <- countries) {
                                        <option value="@nation">@nation</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"  data-dismiss="modal">Cancel</button>
                                <button type="submit"  id="createButton" class="btn btn-primary" onclick="fillVals()">Save</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

    </body>
    <script type="text/javascript">

            function fillVals() {
                $('#travellerTypesForm').val($('#typeDropdown').val());
                $('#nationalitiesForm').val($('#nationDropdown').val());
                $('#passportsForm').val($('#passportDropdown').val());
            }

    </script>
</html>