@import play.mvc.Http
@import views.html.helper.form
@import views.html.helper.CSRF
@import controllers.LoginController.Login
@(loginForm : Form[Login])(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TravelEA: Development</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">

        <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="startUpBox" class="startUpBox">

            @if(request.flash.containsKey("info")) {
                <div class="alert alert-info">
                @request.flash.get("info")
                </div>
            }

                <!--  Login Scene  -->
            @form(routes.LoginController.login()){
                @CSRF.formField

                <input type="text" id="email" placeholder="Email" name="email" required required oninvalid="this.setCustomValidity('Email required')" oninput="setCustomValidity('')">
                <input type="password" id="password" placeholder="Password" name="password" required required oninvalid="this.setCustomValidity('Password required')" oninput="setCustomValidity('')">

                <a href="@routes.CreateUserController.show()"><button type="button" id="createUserButton" class="redButton" >Create User</button></a>
                <button type="submit" id="loginButton" class="loginButton">Login</button>

            }


        </div>

    </body>
</html>