@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>SENG302 TEMPLATE PROJECT</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.HomeController.index()">
                    SENG302 TEMPLATE PROJECT - Basic form and Ebean stuff
                </a>                
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
