@import controllers.ProfileController.ImageData
@import play.mvc.Http
@import views.html.helper.{CSRF, form}
@(currentUser: Profile, imageForm: Form[ImageData], imageList: List[Image], showPhotoModal: Boolean, trips: List[Integer], defaultProfilePicture: Integer)(implicit request: Http.Request, messages: play.i18n.Messages)


<!DOCTYPE html>
<html lang="en">

    <head>
        <title>TravelEA | Profile</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/profile.css")">


        <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>

    </head>

    <body>
        <div class="d-flex toggled" id="wrapper">

                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <h2 class="sidebar-heading">TravelEA </h2>
                <div class="list-group list-group-flush">
                    <a style="color: #ca6636" href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/> Profile</a>
                    <a href="@routes.DestinationsController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/> Destinations</a>
                    <a href="@routes.TripsController.show()"class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/> Trips</a>
                    <a href="@routes.TravellersController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/> Travellers</a>
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/> Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light topbar-dark">
                    <h3 class="expand-icon" id="menu-toggle" >Menu</h3>
                    <div id="pageTitle">
                        <h2> Profile</h2> <!-- TODO align this in the center -->
                    </div>
                </nav>


                @if(request.flash.getOptional("success").isPresent) {
                    <div class="alert alert-success">
                    @request.flash.getOptional("success").get()
                    </div>
                }

                @if(request.flash.getOptional("failure").isPresent) {
                    <div class="alert alert-failure">
                    @request.flash.getOptional("failure").get()
                    </div>
                }


                @if(showPhotoModal) {
                    <script type="text/javascript">
                        $(window).on('load', function() {
                            $('#viewPhotoModal').modal('show')
                        })
                    </script>
                }

                <div class="container-fluid">

                    <div id="profilePhotoContainer">
                        <div class="container" id="profilePhoto">
                                <img id="profileImage" class="thumbnail" src="@routes.Assets.at("images/defaultPic.jpg")"
                                alt="Profile picture">
                        </div>

                        <div class="container" id="greeting">
                                <h2 style="text-align: center;">Welcome, @currentUser.getFirstName()!</h2>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 200px">



                        <div class="col">
                            <div id="personalCard" class="card-large upper-card center-col">
                                <h3>Personal Information</h3>
                                <div class="container">
                                    <div id="firstNameCard" class="card-small">
                                        <a>First Name: @currentUser.getFirstName</a>
                                    </div>

                                    <div id="midNameCard" class="card-small">
                                        <a>Middle Name: @currentUser.getMiddleName</a>
                                    </div>

                                    <div id="lastNameCard" class="card-small">
                                        <a>Last Name: @currentUser.getLastName</a>
                                    </div>

                                    <div id="emailCard" class="card-small">
                                        <a>Email: @currentUser.getEmail</a>
                                    </div>

                                    <div id="dobCard" class="card-small">
                                        <a>Date Of Birth: @currentUser.getBirthString</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div id="trips-card" class="card-large upper-card">
                                <h3>Your Trips</h3>

                                @if(trips.isEmpty) {
                                    <div class="alert alert-info" role="alert">
                                        You have no trips associated with your profile
                                    </div>
                                } else {
                                    <div class="col">
                                    @for(tripId <- trips) {
                                        <div class="row">
                                            <div class="card-small trip-card" data-toggle="collapse" data-target="#tripInfo@tripId">
                                                <h5 id="tripName">@currentUser.getTripById(tripId).getName</h5>
                                                <img class="trip-icon" src="@routes.Assets.at("images/plus-icon.png")"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="tripInfo@tripId" class="collapse collapse-body">
                                                <table id="tripTable">
                                                    <thead>
                                                        <tr><th>Start Date</th><th>N.O. Destinations</th><th>Travel Time (Days)</th>
                                                    </thead>
                                                    <tr>
                                                        <td>
                                                            @if(currentUser.getTripById(tripId).getStartDate != null) {
                                                                <span>@currentUser.getTripById(tripId).getStartDate.getTime</span>
                                                            } else {
                                                                <span>0</span>
                                                            }
                                                            @currentUser.getTripById(tripId).getStartDate</td>
                                                        <td>@currentUser.getTripById(tripId).getDestinations.size()</td>
                                                        <td>@currentUser.getTripById(tripId).getTravelTime</td>
                                                    </tr>
                                                </table>
                                                <h4>Destinations Visted</h4>
                                                <table id="destsTable">
                                                    <thead>
                                                        <tr><th>Name</th><th>Country</th><th>Departure Time</th><th>Arrival Time</th>
                                                    </thead>
                                                    @for(destIndex <- 0 until currentUser.getTripById(tripId).getDestinations.size) {
                                                        <tr>
                                                            <td>@currentUser.getTripById(tripId).getDestinations.get(destIndex).getDestination.getName</td>
                                                            <td>@currentUser.getTripById(tripId).getDestinations.get(destIndex).getDestination.getCountry</td>
                                                            <td>
                                                                @if(currentUser.getTripById(tripId).getDestinations.get(destIndex).getArrival != null) {
                                                                    <span>@currentUser.getTripById(tripId).getDestinations.get(destIndex).getArrival.getTime</span>
                                                                } else {
                                                                    <span></span>
                                                                }
                                                                @currentUser.getTripById(tripId).getDestinations.get(destIndex).getArrival</td>
                                                            <td>
                                                                @if(currentUser.getTripById(tripId).getDestinations.get(destIndex).getDeparture != null) {
                                                                    <span>@currentUser.getTripById(tripId).getDestinations.get(destIndex).getDeparture.getTime</span>
                                                                } else {
                                                                    <span></span>
                                                                }
                                                                @currentUser.getTripById(tripId).getDestinations.get(destIndex).getDeparture</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                }

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <div id="typesCard" class="card-large lower-card center-col">
                                <h3>Your Traveller Types</h3>

                                @if(currentUser.getTravellerTypesList.isEmpty) {
                                    <div class="alert alert-info" role="alert">
                                        You have no traveller types associated with your profile
                                    </div>
                                } else {
                                    <div class="row">
                                    @for(index <- 0 until currentUser.getTravellerTypesList.size) {
                                        <div class="col">
                                            <div class="card-small card-small-tall">
                                                <a>@currentUser.getTravellerTypesList.get(index)</a>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                }

                            </div>
                        </div>

                        <div class="col">
                            <div id="nationCard" class="card-large lower-card center-col">
                                <h3>Your Nationalities</h3>

                                @if(currentUser.getNationalityList.isEmpty) {
                                    <div class="alert alert-info" role="alert">
                                        You have no nationalities associated with your profile
                                    </div>
                                } else {
                                    <div class="row">
                                    @for(index <- 0 until currentUser.getNationalityList.size) {
                                        <div class="col">
                                            <div class="card-small card-small-tall">
                                                <a>@currentUser.getNationalityList.get(index)</a>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                }


                            </div>
                        </div>

                        <div class="col">
                            <div id="passportCard" class="card-large lower-card center-col">
                                <h3>Your Passports</h3>

                                @if(currentUser.getPassports.isEmpty) {
                                    <div class="alert alert-info" role="alert">
                                        You have no passports associated with your profile
                                    </div>
                                } else {
                                    <div class="row">


                                    @for(index <- 0 until currentUser.getPassportsList.size) {
                                        <div class="col">
                                            <div class="card-small card-small-tall">
                                                <a>@currentUser.getPassportsList.get(index)</a>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                }

                            </div>

                        </div>

                        <div class="col">
                            <div id="photosCard" class="card-large lower-card">
                                <h3>Personal Photos</h3>
                                <button type="button" class="viewButton" data-toggle="modal" data-target="#viewPhotoModal">
                                    View Photos</button>
                                <button type="button" class="addButton" data-toggle="modal" data-target="#addPhotoModal">
                                    Add Photos</button>
                                <button type="button" class="changeProfilePictureButton" data-toggle="modal" data-target="#changeProfilePicture">
                                    Change Profile Picture
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <a href="@routes.ProfileController.showEdit(currentUser.getEmail)"><button type="button"
                            class="button-editDestinations" style="width: 10vw;
                                float: right">
                                Edit Profile
                            </button>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
            <div class="modal fade" id="changeProfilePicture">

                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h2 class="modal-title center-col">Change Profile Picture</h2>
                        </div>
                        <div class="modal-body">
                            @if(defaultProfilePicture == 1) {
                                <img id="displayImage" class="thumbnail" src="@routes.Assets.at("images/defaultPic.jpg")" name="demoProfilePicture">
                            } @if(defaultProfilePicture == 0) {
                                <img id="displayImage" class="thumbnail" src="@routes.ProfileController.getTemporaryProfilePictureId" name="demoProfilePicture">
                            }
                                <div class="row">
                                <div class="center-col">
                                    <button type="button" class="addProfilebutton" data-toggle="modal" data-target="#addProfileModal" data-dismiss="modal">
                                        Upload new photo</button>
                                    <button type="button" class="selectPhotoButton" data-toggle="modal" data-target="#selectPhotoModal" data-dismiss="modal">
                                        Select existing photo</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="center-col">
                                <button type="button" data-dismiss="modal">Cancel</button>
                                <button type="submit" data-dismiss="modal">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" id="selectPhotoModal">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h2 class="modal-title">Select profile Picture</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                @for(image <- imageList) {
                                    <div class="card">
                                        <img onclick="expand(src, alt, name)" id="displayImage" class="thumbnail"
                                        src="@routes.ProfileController.displayPhotos(image.getImageId)" alt="@image.getName"
                                        name="@image.getImageId">
                                        <div class="card-body">
                                            <button type="submit">Select</button>
                                        </div>
                                            <!-- The Expanded Image Modal -->
                                        <div id="expandImageModal" class="modal">
                                            <span class="close">&times;</span>
                                            <img class="modal-content" id="expandedImage">
                                            <div id="caption"></div>
                                            <div id="id"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button type="button" data-dismiss="modal" style="width: 10vw;
                                float: right" class="changeProfilePictureButton"
                            data-toggle="modal" data-target="#changeProfilePicture">Close</button>
                        </div>
                    </div>
                </div>

            </div>

        <div class="modal fade" id="addProfileModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title">Add a new photo as your profile picture</h2>
                    </div>
                    @form(routes.ProfileController.uploadPhoto(), 'enctype -> "multipart/form-data") {
                        @CSRF.formField
                        <div class="modal-body">
                            <input type="file" id="image" name="image">
                            <input type="hidden" id="visible" name="visible" value="Public" hidden></label>
                            <input type="hidden" id="isNewProfilePicture" name="isNewProfilePicture" value="true" hidden>
                            <button type="button" data-dismiss="modal" class="changeProfilePictureButton" data-toggle="modal" data-target="#changeProfilePicture">Cancel</button>
                            <button type="submit">Submit</button>
                        </div>
                    }
                    <div class="modal-dialog">
                        <p>Note that a photo set as profile picture will be set as public</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addPhotoModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title">Add Photo</h2>
                    </div>
                    @form(routes.ProfileController.uploadPhoto(), 'enctype -> "multipart/form-data") {
                        @CSRF.formField
                        <div class="modal-body">
                            <input type="file" id="image" name="image">
                            <label>
                                Public <input type="checkbox" id="visible" name="visible" value="Public" checked></label>
                            <input type="hidden" id="isNewProfilePicture" name="isNewProfilePicture" value="false" hidden>
                            <button type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit">Submit</button>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="modal fade" id="viewPhotoModal">

            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title">Photos</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        @for(image <- imageList) {
                            <div class="card">
                                <img onclick="expand(src, alt, name)" id="displayImage" class="thumbnail"
                                src="@routes.ProfileController.displayPhotos(image.getImageId)" alt="@image.getName"
                                name="@image.getImageId">
                                <div class="card-body">
                                @if(image.getVisible == 1) {
                                    <p class="card-text"> @image.displayVisibility(image.getVisible) 🌏</p>
                                    <a href="@routes.ProfileController.updatePrivacy(image.getImageId)">
                                        <button>Make Private</button></a>
                                } else {
                                    <p class="card-text"> @image.displayVisibility(image.getVisible) 🔒</p>
                                    <a href="@routes.ProfileController.updatePrivacy(image.getImageId)">
                                        <button>Make Public</button></a>
                                }
                                </div>
                                    <!-- The Expanded Image Modal -->
                                <div id="expandImageModal" class="modal">
                                    <span class="close">&times;</span>
                                    <img class="modal-content" id="expandedImage">
                                    <div id="caption"></div>
                                    <div id="id"></div>
                                </div>
                            </div>
                        }
                        </div>
                        <button type="button" data-dismiss="modal" style="width: 10vw;
                            float: right">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </body>

            <!-- Menu Toggle Script -->
        <script>
            $(document).ready(function() {
                $('#destsTable').DataTable({
                    "lengthChange": false,
                    "pagingType": "full",
                    "pageLength": 13,
                    dom: '<l<"toolbar">f>rtip',
                    language: {
                        search: "_INPUT_", //To remove Search Label
                        searchPlaceholder: "Search..."
                    },
                    "sDom": '<"top"pfl>rt<"bottom"><"clear">',
                    "autoWidth": false
                });

                $('#tripTable').DataTable({
                    "lengthChange": false,
                    "pagingType": "full",
                    "pageLength": 13,
                    dom: '<l<"toolbar">f>rtip',
                    language: {
                        search: "_INPUT_", //To remove Search Label
                        searchPlaceholder: "Search..."
                    },
                    "sDom": '<"top"pfl>rt<"bottom"><"clear">',
                    "autoWidth": false
                });
            });

            var closeBtns = document.getElementsByClassName("close");
            var i;

            for (i = 0; i < closeBtns.length; i++) {
                closeBtns[i].addEventListener("click", function () {
                    this.parentElement.style.display = 'none';
                });
            }
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            // Method that gets the image data from on the image clicked and displays
            // it in its original resolution in a new modal
            function expand(image, text, id) {
                // Get the modal
                var modal = document.getElementById('expandImageModal');
                var modalImg = document.getElementById('expandedImage');
                var captionText = document.getElementById("caption");

                modal.style.display = "block";
                modalImg.src = image;
                captionText.innerHTML = text;

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }
    </script>
</html>
