@(partnerForm: Form[PartnerFormData])(implicit request: Http.Request)

@import helper._

@main{
    <div>
        <h1>Search for Partners!</h1>

        @form(routes.HomeController.listPartners()) {

            @CSRF.formField
            @select(
                partnerForm("gender"),
                options = Seq(
                    "noGender" -> "Any Gender",
                    "Male" -> "Male",
                    "Female" -> "Female",
                    "Other" -> "Other"),

                '_label -> "Choose gender",
                '_showConstraints -> false
            )
            @inputText(partnerForm("nationality"), '_label -> "Nationalities", '_help -> "Seperate by comma (,) if multiple")
            <p>What type of traveller do you want to partner with?</p>
            @checkbox(partnerForm("groupie"), '_label -> "groupie", '_help -> "")
            @checkbox(partnerForm("thrillseeker"), '_label -> "thrillseeker", '_help -> "")
            @checkbox(partnerForm("gapYear"), '_label -> "gapYear", '_help -> "")
            @checkbox(partnerForm("weekender"), '_label -> "weekender", '_help -> "")
            @checkbox(partnerForm("holidaymaker"), '_label -> "holidaymaker", '_help -> "")
            @checkbox(partnerForm("buisness"), '_label -> "buisness", '_help -> "")
            @checkbox(partnerForm("backpacker"), '_label -> "backpacker", '_help -> "")

            <div class="actions">
                <input type="submit" value="Search for this profile" class="btn primary"> or
                <a href="@routes.HomeController.index()" class="btn">Cancel</a>
            </div>
        }
    </div>

}