@import play.mvc.Http
@import views.html.helper.form
@import views.html.helper.CSRF
@(searchForm: Form[PartnerFormData], users : List[Profile], current : Profile)(implicit request: Http.Request, messages: play.i18n.Messages)

<!DOCTYPE html>
<html>
    <!-- Including stylesheets and js attributes-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">


    <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>


    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/travellers.css")">

    <head>
        <title>TravelEA | Travellers</title>
    </head>

    <body>
            <!-- Wrapper for the page -->
        <div class="d-flex" id="wrapper">

                <!-- The sidebar -->
            <div  id="sidebar-wrapper">
                <div class="sidebar-heading"><h2>TravelEA</h2></div>
                <div id="sidebar">
                    <a href="@routes.ProfileController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/> Profile</a>
                    <a href="@routes.DestinationsController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/> Destinations</a>
                    <a href="@routes.TripsController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/> Trips</a>
                    <a style="color: #ca6636" href="@routes.TravellersController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/> Travellers</a>
                    <a href="@routes.LoginController.show()"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/> Logout</a>
                </div>
            </div>
                <!-- The content of the page -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div id="table-card" class="card-large table-hover">
                        <div class="col">
                        @form(routes.TravellersController.search()){
                            @CSRF.formField

                            <input type="search" id="searchNationality" placeholder="Nationality" name="searchNationality">
                            <select id= "searchGender" class="selectpicker" title="Gender" name="searchGender">
                                <option hidden disabled>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            @*<input type="date" id="dateSearch" name="dateSearch">*@
                           <select id="searchAgeRange" class="selectpicker" title="Age Range" name="searchAgeRange">
                                <option hidden disabled>Age Range</option>
                                <option value=1><18</option>
                                <option value=2>18-25</option>
                                <option value=3>25-35</option>
                                <option value=4>35-50</option>
                                <option value=5>50-65</option>
                                <option value=6>65+</option>
                            </select>
                            <select id= "searchTravellerTypes" class="selectpicker" title="Traveller Type" name="searchTravellerTypes">
                                <option value="ThrillSeeker">ThrillSeeker</option>
                                <option value="Backpacker">Backpacker</option>
                                <option value="GapYear">Gap Year</option>
                                <option value="Groupie">Groupie</option>
                                <option value="FrequentWeekender">Frequent Weekender</option>
                                <option value="business">functional/business Traveller</option>
                                <option value="Holidaymaker">Holidaymaker</option>
                            </select>
                            <button type="submit" id="searchBttn">Search</button>
                            <a href="@routes.TravellersController.show()"> <button type="button" id="cancelBttn">Clear</button></a>
                            }
                        </div>
                        <div class="col">
                                <!-- Table of users -->
                            <table id="userTable">
                                <thead>
                                    <tr><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Gender</th><th>Date Of Birth</th><th>Nationality</th><th>Passports</th><th>Traveller Types</th>@if(current.isAdmin){<th>Admin Controls}</th>
                                </thead>
                                    @for(user <- users) {
                                        <tr>
                                            <td>@user.getFirstName</td>
                                            <td>@user.getMiddleName</td>
                                            <td>@user.getLastName</td>
                                            <td>@user.getGender</td>
                                            <td><span>@user.getBirthDate.getTime</span>
                                                @user.getBirthDate</td>
                                            <td>@user.getNationalities</td>
                                            <td>@user.getPassports</td>
                                            <td>@user.getTravellerTypes</td>
                                            @if(current.isAdmin) {
                                                @if(user.isAdmin && user.getEmail != "admin") {
                                                    @form(routes.ProfileController.updateAdmin(user.getEmail)) {
                                                        @CSRF.formField
                                                        <td><button class="cancelBttn" type="submit" >
                                                            Remove Admin</button></td>
                                                    }
                                                } else if (!user.isAdmin) {
                                                    @form(routes.ProfileController.updateAdmin(user.getEmail)) {
                                                        @CSRF.formField
                                                        <td><button type="submit">
                                                            Make Admin</button></td>
                                                    }
                                                } else {
                                                    <td>Master Admin</td>
                                                }
                                            }
                                        </tr>
                                    }
                            </table>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </body>

    <script type="text/javascript">
            //Setup for the user table
            $(document).ready(function() {
                $('#userTable').DataTable({
                    "lengthChange": false,
                    "pagingType": "full",
                    "pageLength": 13,
                    dom: '<l<"toolbar">f>rtip>',
                    "searching": false,
                    "sDom": 'rt<"bottom"p>',
                    "autoWidth": false
                });

            });

            function updateAdmin(isAdmin) {

                @routes.ProfileController.show()


            }

            @*valid = @current.isAdmin();*@

            @*if (valid) {*@
                @*table.column.add( [*@
                            @*dest,*@
                            @*arrive,*@
                            @*depart,*@
                            @*'<button id="addAdminButton" onclick="updateAdmin(false)">Remove Admin</button>'*@
                        @*]*@
                @*).draw( false );*@
                @*$('#destForm').get(0).reset();*@
                @*$("#destsPicker").val('default');*@
                @*$("#destsPicker").selectpicker("refresh");*@
            @*}*@




    </script>

</html>