@import play.mvc.Http
@import views.html.helper.CSRF
@(tripForm : Form[Trip], tripDestinationForm: Form[TripDestination], currentDestinationsList: List[TripDestination], currentUser: Profile)(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._


<html>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">


    <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>


    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/trips.css")">
    <head>
        <title>TravelEA | Trips</title>
    </head>
    <body>
        <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
            <div class="border-right" id="sidebar-wrapper">
                <h1 class="sidebar-heading">TravelEA </h1>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/> Profile</a>
                    <a href="@routes.DestinationsController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/> Destinations</a>
                    <a style="color: #ca6636" href="@routes.TripsController.show()"class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/> Trips</a>
                    <a href="@routes.TravellersController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/> Travellers</a>
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/> Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <img class="expand-icon" src="@routes.Assets.at("images/list-icon.png")" id="menu-toggle">
                    <h2>Trips</h2> <!-- TODO align this in the center -->
                </nav>
                <div class="container-fluid">
                    <div id="viewCard" class="card-large">
                        <h2>Create Trip</h2>
                            @helper.form(routes.TripsController.save()) {
                                @CSRF.formField
                                <input type="text" id="name" name="name" required placeholder="Trip Name">
                                <button type="submit" class="button-edit" style="width: 20vw" id="save">Save Trip</button>
                            }
                            @helper.form(routes.TripsController.addDestination()) {
                                @CSRF.formField
                                <div class="row">

                                    <div class="col">
                                        <!--
                                        <div class="hidden-div">
                                            <input type="text" class="hidden-field" name="destination" id="destination" required>
                                        </div>-->

                                        <h5>Destination</h5>
                                        <select class="selectpicker" data-live-search="true" name="destinationId" id="destinationId" title="Select Destination" required>
                                        @for(destination <- currentUser.getDestinations) {
                                            <option value=@destination.getDestinationId>@destination.getName</option>
                                        }
                                        </select>
                                    </div>


                                    <div class="col"><h5>Arrival Time</h5>
                                        <input type="date" id="arrival" name="arrival"></div>

                                    <div class="col"><h5>Departure Time</h5>
                                        <input type="date" id="departure" name="departure"></div>
                                    <div class="col"><button type="submit" class="button-add" id="addDest">Add Destination</button></div>

                                </div>

                                }


                        <table id="tripsTable">
                            <thead>
                                <tr><th>Destination Name</th><th>Departure Time</th><th>Arrival Time</th><th>Actions</th>
                            </thead>
                            @for(tripDestination <- currentDestinationsList) {
                                <tr id="tripRow@tripDestination.getDestinationId">
                                    <td>@tripDestination.getDestinationName</td>
                                    <td>@tripDestination.getFormattedDate(tripDestination.getDeparture)</td>
                                    <td>@tripDestination.getFormattedDate(tripDestination.getArrival)</td>
                                    <td><button id="edit_@tripDestination.getDestinationId" data-toggle="modal" data-target="#editModal_@tripDestination.getOrder" >Edit</button></td> <!--onclick="fillModal(this)-->

                                    @helper.form(routes.TripsController.deleteDestination(tripDestination.getDestinationId)) {
                                        @CSRF.formField
                                        <td> <button type="submit" class="button-delete"style="height:4vh">Delete</button></td>
                                    }

                                </tr>
                                <div class="modal" id="editModal_@tripDestination.getOrder">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                                <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Trip Destination</h4>
                                                <button type="button" class="close" data-dismiss="modal"></button>
                                            </div>

                                                <!-- Modal body -->
                                            <div class="modal-body">


                                            @helper.form(routes.TripsController.updateDestination(tripDestination.getOrder)) {
                                                @CSRF.formField

                                                <div class="col">


                                                    <h5>Destination Order</h5>
                                                    <input id="order" name="order" type="number" value="@tripDestination.getOrder" min="1" max="@currentDestinationsList.size" required>

                                                    <h5>Destination</h5>
                                                    <select class="selectpicker" data-live-search="true" name="destinationId" id="destinationId" title="Select Destination" required>
                                                    @for(destination <- currentUser.getDestinations) {
                                                        @if(tripDestination.getDestinationName == destination.getName) {
                                                            <option value=@destination.getDestinationId selected>@destination.getName</option>
                                                        } else {
                                                            <option value=@destination.getDestinationId>@destination.getName</option>
                                                        }

                                                    }
                                                    </select>



                                                    <h5>Arrival Time</h5>
                                                    <input type="date" id="arrival" name="arrival" value="@tripDestination.formatLocalDate(tripDestination.getArrival)">

                                                    <h5>Departure Time</h5>
                                                    <input type="date" id="departure" name="departure" value="@tripDestination.formatLocalDate(tripDestination.getDeparture)"></div>
                                            </div>


                                            <div class="modal-footer">
                                                <button type="submit" class="button-add">save</button>
                                                <button type="button" class="button-delete" data-dismiss="modal">Close</button>
                                            </div>

                                        }
                                                <!-- Modal footer -->

                                        </div>


                                    </div>
                                </div>
                    </div>
                            }

                        </table>

                            </div>
                        </div>
                </div>
            </div>
        </div>



    </body>


    <script type="text/javascript">
            //Setup for the user table
            $(document).ready(function() {
                var table = $('#tripsTable').DataTable({
                    "lengthChange": false,
                    "pagingType": "full",
                    "bPaginate": false,
                    dom: '<l<"toolbar">f>rtip',
                    "searching": false,
                    "sDom": '<"top"pfl>rt<"bottom"><"clear">',
                    "autoWidth": false
                });


/**
                $('#tripsTable tbody').on( 'click', 'button', function () {
                    var data = tripsTable.row( $(this).parents('tr') ).data();
                    $('select[name=destinationId]').val(data[0]);
                    $('.selectpicker').selectpicker('refresh');
                    //TODO What does this do
                } );*/




            });



               $('#tripsTable tbody').on( 'click', 'button', function () {
                    var data = table.row( $(this).parents('tr') ).data();
                    alert( data[0]);
                } );            $('#saveButton').on( 'click',  function () {
                var table = $('#addDest').DataTable();
                var tripName = $('#tripNameEntry').val();

                if (table.rows().data().length < 2) {
                    alert("Please enter at least 2 destinations");
                } else if (tripName.length === 0) {
                    alert("Please enter a trip name");
                } else {
                    // Send data to controller here to create te trip and add to table

                    table
                            .clear()
                            .draw();
                }
            });

        $('#closeIcon, #closeButton').on( 'click', function() {
            var table = $('#destinations').DataTable();
            $('#destForm').get(0).reset();
            table
                    .clear()
                    .draw();
            $("#createModal").modal("hide");
            document.getElementById('tripNameEntry').value = "";
            $("#destination").val('default');
            $("#destination").selectpicker("refresh");
        });



        function deleteTripRow() {
            $('#tripsTable').DataTable().row().remove().draw();
        }

        function deleteDestRow() {
            $('#destsTable').DataTable().row().remove().draw();
        }

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });


        function fillModal(button) {
            var destId = button.id.split("_")[1]; //Can change to dest order once it is there
            console.log(destId);
            document.getElementById("destOrder").value = destId;

            /**
            var tripsTable = $('#tripsTable').DataTable();
            var cells = button.parentElement.parentElement.cells;
            var name = cells.item(0).innerHTML;
            var depart = cells.item(1).innerHTML;
            var arrive = cells.item(2).innerHTML;

           alert(name + " " + depart + " " + arrive);*/

        }






    </script>



</html>