@import play.mvc.Http
@import views.html.helper.CSRF
@(tripForm: Form[Trip], tripDestinationForm: Form[TripDestination], currentDestinationsList: List[TripDestination], destinationsList: List[Destination], currentUser: Profile, toEdit: TripDestination, userId: Integer)(implicit request: Http.Request, messages: play.i18n.Messages)


<html>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-select.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/dataTables.bootstrap4.css")">


    <script src="@routes.Assets.at("javascripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrap4.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-select.js")" type="text/javascript"></script>


    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sidebar.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/trips.css")">
    <head>
        <link rel="shortcut icon" type="image/*" href="@routes.Assets.at("images/logo.ico")"/>
        <title>TravelEA | Trips</title>
    </head>
    <body>
        <div class="d-flex toggled" id="wrapper">

                <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <h1 class="sidebar-heading">TravelEA </h1>
                <div class="list-group list-group-flush">
                    <a href="@routes.ProfileController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/profile-icon.png")"/>
                        Profile</a>
                    <a href="@routes.DestinationsController.show(false)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/destination-icon.png")"/>
                        Destinations</a>
                    <a style="color: #ca6636" href="@routes.TripsController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/trips-icon.png")"/>
                        Trips</a>
                    <a href="@routes.TravellersController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/traveller-icon.png")"/>
                        Travellers</a>
                    <a href="@routes.ArtistController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/artist-icon.png")"/>
                        Artists</a>
                    <a href="@routes.TreasureHuntController.show(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/treasure-hunt-icon.png")"/> Treasure Hunt</a>
                    @if( currentUser.hasRole("global_admin") || currentUser.hasRole("admin")) {
                        <a href="@routes.AdminController.showAdmins(0)" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/admin-icon.png")"/> Admin</a>
                    }
                    <a href="@routes.LoginController.show()" class="list-group-item list-group-item-action bg-transparent"><img class="sidebar-icon" src="@routes.Assets.at("images/logout-icon.png")"/>
                        Logout</a>
                </div>
            </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light topbar-dark">
                    <h3 class="expand-icon" id="menu-toggle" >Menu</h3>
                    <div id="pageTitle">
                    <h2 id="topBarTitle">Create Trip</h2>
                    </div>
                </nav>
                @helper.form(routes.TripsController.save(userId)) {
                    @CSRF.formField
                    <div class="row">
                        <div class="tripNameInput">
                            <input type="text" id="name" name="name" required placeholder="Trip Name">
                        </div>
                        <button type="submit" class="saveTripButton btn btn-primary" id="save">Save Trip</button>
                    </div>

                }
                <div class="container-fluid">
                    <div class="col">
                            <div id = "viewCard" class="card-large upper-card">
                                @if(request.flash.getOptional("info").isPresent) {
                                    <div class="alert alert-info">
                                    @request.flash.getOptional("info").get()
                                    </div>
                                }
                                @helper.form(routes.TripsController.addDestination(userId)) {
                                    @CSRF.formField
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h4>Select Destination</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <h5>Destination</h5>
                                                <select class="selectpicker" data-live-search="true" name="destinationId" id="destinationId" title="Select Destination" required>
                                                @for(destination <- destinationsList) {
                                                    <option value="@destination.getDestinationId">@destination.getName</option>
                                                }
                                                </select>
                                            </div>

                                            <div class="col">
                                                <h5>Arrival Time</h5>
                                                <input type="datetime-local" id="arrival" name="arrival">
                                            </div>

                                            <div class="col">
                                                <h5>Departure Time</h5>
                                                <input type="datetime-local" id="departure" name="departure">
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-primary" id="addDest">Add Destination</button>
                                            </div>
                                        </div>



                                </div>

                            }
                    </div>
                    <div class="col">
                        <div id = "viewCard" class="card-large upper-card">
                            <h3>Destination Table</h3>

                            <table id="tripsTable">
                                <thead>
                                    <tr>
                                        <th>Destination Name</th>
                                        <th>Arrival Time</th>
                                        <th>Departure Time</th>
                                        <th>Actions</th>
                                </thead>
                                @for(tripDestination <- currentDestinationsList) {
                                    <tr id="tripRow@tripDestination.getDestinationId">
                                        <td>@tripDestination.getDestinationName</td>
                                        <td>@tripDestination.getArrivalString</td>
                                        <td>@tripDestination.getDepartureString</td>
                                        <td>
                                            <a href="@routes.TripsController.createTripDestinationCreate(tripDestination.getDestOrder, userId)">
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#editModal_@tripDestination.getDestOrder" type="submit">Edit </button>
                                            </a>
                                            <a href="@routes.TripsController.deleteDestination(tripDestination.getDestOrder, userId)">
                                                <button class="btn btn-danger" type="submit">Delete </button>
                                            </a>
                                        </td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <a href="@routes.TripsController.show()"> <button id="backButtonCreate" class="button-back btn btn-secondary" type="button">Back</button> </a>
                    </div>

                </div>
            </div>
        </div>


        @if(toEdit != null) {
            <script type="text/javascript">
                    $(window).on('load', function () {
                        $('#editModal').modal('show');
                    });
            </script>
            <div class="modal" id="editModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                            <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Trip Destination</h4>
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>

                            <!-- Modal body -->
                        <div class="modal-body">
                        @helper.form(routes.TripsController.updateDestination(toEdit.getDestOrder, userId)) {
                            @CSRF.formField
                            <div class="col" id="formItems">
                                <h5>Destination Order</h5>
                                <input id="order" name="destOrder" type="number" value="@toEdit.getDestOrder" min="1" max="@currentDestinationsList.size" required>

                                <h5>Destination</h5>
                                <select class="selectpicker" data-live-search="true" name="destinationId" id="destinationId" title="Select Destination" required>
                                @for(destination <- destinationsList) {
                                    @if(destination.getDestinationId == toEdit.getDestinationId) {
                                        <option value="@destination.getDestinationId" selected>@destination.getName</option>
                                    } else {
                                        <option value="@destination.getDestinationId">@destination.getName</option>
                                    }
                                }
                                </select>


                                <h5>Arrival Time</h5>
                                <input type="datetime-local" id="arrival" name="arrival" value="@toEdit.formatLocalDate(toEdit.getArrival)">

                                <h5>Departure Time</h5>
                                <input type="datetime-local" id="departure" name="departure" value="@toEdit.formatLocalDate(toEdit.getDeparture)"></div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    }
                            <!-- Modal footer -->
                    </div>
                </div>
            </div>
        }

    </body>


    <script type="text/javascript">
            //Setup for the user table
            $(document).ready(function () {
                var table = $('#tripsTable').DataTable({
                    "lengthChange": false,
                    "pagingType": "full",
                    "bPaginate": false,
                    dom: '<l<"toolbar">f>rtip',
                    "searching": false,
                    "sDom": '<"top"pfl>rt<"bottom"><"clear">',
                    "autoWidth": false,
                    "ordering": false
                });


                /**
                 $('#tripsTable tbody').on( 'click', 'button', function () {
                    var data = tripsTable.row( $(this).parents('tr') ).data();
                    $('select[name=destinationId]').val(data[0]);
                    $('.selectpicker').selectpicker('refresh');
                    //TODO What does this do
                } );*/


            });


            //TODO Cry test this stuff
            $('#tripsTable tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                alert(data[0]);
            });
            $('#saveButton').on('click', function () {
                var table = $('#addDest').DataTable();
                var tripName = $('#tripNameEntry').val();

                if (table.rows().data().length < 2) {
                    alert("Please enter at least 2 destinations");
                } else if (tripName.length === 0) {
                    alert("Please enter a trip name");
                } else {
                    // Send data to controller here to create the trip and add to table

                    table
                            .clear()
                            .draw();
                }
            });

            $('#closeIcon, #closeButton').on('click', function () {
                var table = $('#destinations').DataTable();
                $('#destForm').get(0).reset();
                table
                        .clear()
                        .draw();
                $("#createModal").modal("hide");
                document.getElementById('tripNameEntry').value = "";
                $("#destination").val('default');
                $("#destination").selectpicker("refresh");
            });


            function deleteTripRow() {
                $('#tripsTable').DataTable().row().remove().draw();
            }

            function deleteDestRow() {
                $('#destsTable').DataTable().row().remove().draw();
            }

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

    </script>

</html>